@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var width = moduleData.Record.GetXmlPropertyInt("genxml/settings/width");
    var height = moduleData.Record.GetXmlPropertyInt("genxml/settings/height");
}
<div class="@(moduleData.GetSetting("cssclass"))">
    <div class="labelswrapper">
        [INJECT: appthemesystem,ArticleHeaderView.cshtml]
        <div class="labels">
            @foreach (var articleImage in articleRowData.GetImages())
            {
                var linkData = new ArticleLink(articleImage.Info, "articlelink");
                if (!linkData.Hidden)
                {
                    if (linkData.IsDisabled)
                    {
                        <img src="@ImageUrl(articleImage.RelPathWebp, width, height)" alt="@(articleImage.Alt)" />                    
                    }
                    else
                    {
                        <a href="@(linkData.Url)" target="@(linkData.Target)">
                            <img src="@ImageUrl(articleImage.RelPathWebp, width, height)" alt="@(articleImage.Alt)" />
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>

