@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var info = new SimplisityInfo(moduleData.Record);

    AddProcessDataResx(appThemeAdmin, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/");

    //NOTE: xPath for module settings must use "genxml/settings/*"
}
<div class="w3-row">
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.imageresize") (px)</label>
        @TextBox(info, "genxml/settings/imageresize", " class='w3-input w3-border'", "1024")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.width") (px)</label>
        @TextBox(info, "genxml/settings/width", " class='w3-input w3-border'", "600")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.height") (px)</label>
        @TextBox(info, "genxml/settings/height", " class='w3-input w3-border'", "400")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.cssClass")</label>
        @TextBox(info, "genxml/settings/cssclass", "class='w3-input w3-border'", "")
    </div>
</div>
