@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

@{
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var columnNumber = moduleData.GetSettingInt("columnnumber");
    if (columnNumber == 0)
    {
        columnNumber = 4;
    }
    var captionHeight = moduleData.GetSettingInt("captionheight");
    var alignment = moduleData.GetSetting("alignment");
    var paddingClass = moduleData.GetSetting("padding");
    var color = moduleData.GetSetting("color");
    var stylepadding = StylePadding();
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
}

<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))">
    <div class="w3-section containerinner" style="@(stylepadding)">

        [INJECT:appthemesystem,ArticleHeaderView.cshtml]

        @foreach (var articleRowList in articleData.GetArticleRows(columnNumber))
        {
            var widthCss = "";
            if (articleRowList.Count() == 2)
            {
                widthCss = "w3-half";
            }
            if (articleRowList.Count() == 3)
            {
                widthCss = "w3-third";
            }
            if (articleRowList.Count() == 4)
            {
                widthCss = "w3-quarter";
            }

        <div class="w3-row ">
            @foreach (var articleRowData in articleRowList)
            {                
                var rowData = articleRowData.Info;
                var hideRow = rowData.GetXmlPropertyBool("genxml/checkbox/hiderow");
                if (!hideRow)
                {
                    var title = rowData.GetXmlProperty("genxml/lang/genxml/textbox/title");
                    var articleImage = articleRowData.GetImage(0);
                    foreach (var linkData in articleRowData.Getlinks())
                    {                        
                        var cssClassRow = "";
                        if (rowData.GetXmlProperty("genxml/textbox/cssclass") != "")
                        {
                            cssClassRow = rowData.GetXmlProperty("genxml/textbox/cssclass");
                        }
                        if (linkData.IsDisabled || linkData.Hidden)
                        {
                            <div class="@(widthCss) @(alignment) w3-display-container @(cssClassRow) @(paddingClass)">
                                @if (articleImage.RelPath != "")
                                {
                                    <img src="@ImageUrl(articleImage.RelPath, width, height)" style="width:100%;" alt="@title" />
                                }
                                <div class="w3-display-bottom w3-padding @(color) " style="width:100%;height:@(captionHeight)px;overflow:hidden;">
                                    <h3>@title</h3>
                                    <p>@Succinct(BreakOf(rowData, "genxml/lang/genxml/textbox/text").ToString(), moduleData.GetSettingInt("captionlength"))</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="@(widthCss) @(alignment) w3-display-container @(cssClassRow) @(paddingClass)" href="@(linkData.Url)" target="@(linkData.Target)" style="text-decoration:none;overflow:hidden;">
                                @if (articleImage.RelPath != "")
                                {
                                    <img src="@ImageUrl(articleImage.RelPath, width, height)" style="width:100%;" alt="@title" />
                                }
                                <div class="w3-display-bottom w3-padding  @(color) w3-hover" style="width:100%;height:@(captionHeight)px;overflow:hidden;">
                                    <h3>@title</h3>
                                    <p>@Succinct(BreakOf(rowData, "genxml/lang/genxml/textbox/text").ToString(), moduleData.GetSettingInt("captionlength"))</p>
                                </div>
                            </a>
                        }
                    }
                }
            }
        </div>
    }
</div>
</div>
