@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

@{
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var columnNumber = moduleData.GetSettingInt("columnnumber");
    if (columnNumber == 0)
    {
        columnNumber = 4;
    }
    var captionHeight = moduleData.GetSettingInt("captionheight");
    var padding = moduleData.GetSettingBool("padding");
    var paddingClass = "";
    if (padding)
    {
        paddingClass = " w3-padding-small ";
    }
}

<div class="w3-section @(moduleData.GetSetting("cssclass")) ">

        [INJECT:appthemesystem,ArticleHeaderView.cshtml]

        @foreach (var articleRowList in articleData.GetArticleRows(columnNumber))
        {
            var widthCss = "";
            if (articleRowList.Count() == 2)
            {
                widthCss = "w3-half";
            }
            if (articleRowList.Count() == 3)
            {
                widthCss = "w3-third";
            }
            if (articleRowList.Count() == 4)
            {
                widthCss = "w3-quarter";
            }

        <div class="w3-row ">
            @foreach (var articleRowData in articleRowList)
            {                
                var rowData = articleRowData.Info;
                var hideRow = rowData.GetXmlPropertyBool("genxml/checkbox/hiderow");
                if (!hideRow)
                {
                    var title = rowData.GetXmlProperty("genxml/lang/genxml/textbox/title");
                    var articleImage = articleRowData.GetImage(0);
                    foreach (var linkData in articleRowData.Getlinks())
                    {                        
                        var cssClassRow = "";
                        if (rowData.GetXmlProperty("genxml/textbox/cssclass") != "")
                        {
                            cssClassRow = rowData.GetXmlProperty("genxml/textbox/cssclass");
                        }
                        if (linkData.IsDisabled || linkData.Hidden)
                        {
                            <div class="@(widthCss) w3-display-container @(cssClassRow) @(paddingClass)">
                                    <img src="@ImageUrl(articleImage.RelPath, width, height)" style="width:100%;" alt="@title" />
                                <div class="w3-display-bottom w3-padding w3-theme-d2" style="width:100%;height:@(captionHeight)px;">
                                    <h2>@title</h2>
                                    <h3>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/text")</h3>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="@(widthCss) w3-display-container @(cssClassRow) @(paddingClass)" href="@(linkData.Url)" target="@(linkData.Target)" style="text-decoration:none;overflow:hidden;">
                                <img src="@ImageUrl(articleImage.RelPath, width, height)" style="width:100%;" alt="@title" />
                                <div class="w3-display-bottom w3-padding w3-theme-d2 w3-hover-theme" style="width:100%;height:@(captionHeight)px;">
                                    <h2>@title</h2>
                                    <h3>@BreakOf(rowData, "genxml/lang/genxml/textbox/text")</h3>
                                </div>
                            </a>
                        }
                    }
                }
            }
        </div>
    }
    </div>
</div>
