@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
var lp1 = 1;
var lp2 = 1;
var imgcount = articleRowData.GetImages().Count;
}

<div class="w3-row">
    <div class="w3-col m3 l2">

        @foreach (var img in articleRowData.GetImages())
        {
        if (!img.Hidden)
        {
        if ((lp1 % 2) == 0)
        {
            <div class="w3-row w3-padding-small">
                        <img class="sliderind@(moduleData.ModuleRef) w3-round" src="@ImageUrl(img.RelPath, 400, 400)" style="width:100%">
            </div>
        }
        lp1 += 1;
        }
        }
    </div>
    <div class="w3-col m6 l8 w3-padding-small">
        @HtmlOf(rowData.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
    </div>
    <div class="w3-col m3 l2">
        @foreach (var img in articleRowData.GetImages())
        {
        if (!img.Hidden)
        {
        if ((lp2 % 2) == 1)
        {
        <div class="w3-row w3-padding-small">
            <img class="sliderind@(moduleData.ModuleRef)" src="@ImageUrl(img.RelPath, 400, 400)" style="width:100%">
        </div>
        }
                lp2 += 1;
        }
        }
    </div>
</div>

