@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketForms.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var info = new SimplisityInfo(moduleData.Record);
}

@foreach (var l in DNNrocketUtils.GetCultureCodeList())
{
    <div class="w3-row w3-padding ">
        <label>@ResourceKey("DNNrocket.heading")  @DisplayFlag(l)</label>
        @TextBox(info, "genxml/settings/heading" + l, " class='w3-input w3-border' ")
    </div>
}

<div class="w3-row w3-padding ">
    <label>CSS Wrapper</label>
    @TextBox(info, "genxml/settings/cssclass", " class='w3-input w3-border' ")
</div>
