@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketForms.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AssignDataModel(Model)
<!--inject-->
@{
    var info = new SimplisityInfo();
    var cssClass = "";
    if (moduleData.Record.GetXmlProperty("genxml/setting/cssclass") != "")
    {
        cssClass = "class='" + moduleData.Record.GetXmlProperty("genxml/settings/cssclass") + "' ";
    }
}

<div @(cssClass)>
    <h2 class="title">@moduleData.GetSetting("heading" + sessionParams.CultureCode)</h2>
    <div id="contactform@(moduleData.ModuleId)" class=" w3-row">
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-half w3-padding">
                    <label>@ResourceKey("RocketForms.name")</label>
                    @TextBox(info, "genxml/textbox/name"," class='w3-input w3-border'")
                </div>
                <div class="w3-half  w3-padding">
                    <label>@ResourceKey("RocketForms.company")</label>
                    @TextBox(info, "genxml/textbox/company"," class='w3-input w3-border'")
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-half  w3-padding">
                    <label>@ResourceKey("RocketForms.email")&nbsp;*</label>
                    @TextBox(info, "genxml/textbox/email", "class='w3-input w3-border' name='email' required email", "", false, 0, "", "email")
                </div>
                <div class="w3-half  w3-padding">
                    <label>@ResourceKey("RocketForms.tel")</label>
                    @TextBox(info, "genxml/textbox/tel"," class='w3-input w3-border'")
                </div>
            </div>
            <div class="w3-row w3-padding">
                <label>@ResourceKey("RocketForms.subject")</label>
                @TextBox(info, "genxml/textbox/subject"," class='w3-input w3-border'")
            </div>
            <div class="w3-row w3-padding">
                <label>@ResourceKey("RocketForms.message")</label>
                @TextArea(info, "genxml/textbox/message"," class='w3-input w3-border' rows='8'")
            </div>
        </div>
        <div class="w3-row"><i>@ResourceKey("RocketForms.compulsory")</i></div>

        <div class="w3-row w3-center w3-large">
        @DelayFormButton(Model, "#contactform" + moduleData.ModuleId)
        </div>

    </div>
</div>
