@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
<div class="articledetail">

    <div class="articledetail-back">
        @{
            var returnUrl = "";
            if (sessionParams.GetInt("catid") > 0)
            {
                var categoryData = new CategoryLimpet(portalData.PortalId, sessionParams.GetInt("catid"), sessionParams.CultureCode, "");
                var urlparams = new Dictionary<string, string>();
                urlparams.Add("catid", categoryData.CategoryId.ToString());
                returnUrl = DNNrocketUtils.NavigateURL(sessionParams.TabId, urlparams, categoryData.Name); ;
            }
            else
            {
                returnUrl = DNNrocketUtils.NavigateURL(sessionParams.TabId); ;
            }
        }
        <a href="@returnUrl" class="bigbutton"><i class="fas fa-angle-up"></i>@ResourceKey("DNNrocket.back", sessionParams.CultureCode)</a>
    </div>

    <div class="articledetailflex">

        <div class="articledetail-left">

            <h1 class="title">@articleData.Name</h1>

            <div class="article-infos">
                <div>
                    <span>Auteur(s) :</span>
                    @foreach (var p in articleData.GetProperties())
                    {
                        if (p.IsInGroup("Auteur"))
                        {
                            <span class="commalist">@p.Name</span>
                        }
                    }
                </div>
                <div class="sep">|</div>
                <div>
                    <span>Type(s) de document :</span>
                    @foreach (var p in articleData.GetProperties())
                    {
                        if (p.IsInGroup("Type"))
                        {
                            <span class="commalist">@p.Name</span>
                        }
                    }
                </div>
                <div class="sep">|</div>
                <div>
                    <span>Territoire(s) :</span>
                    @foreach (var p in articleData.GetProperties())
                    {
                        if (p.IsInGroup("Territoire"))
                        {
                            <span class="commalist">@p.Name</span>
                        }
                    }
                </div>
            </div>

            <div class="articledetail-section article-infos">
                <div>@ResourceKey("Theme.publicationdate", sessionParams.CultureCode) : @DateOf(articleData.Info, "genxml/textbox/publisheddate", sessionParams.CultureCode)</div>
            </div>

            <div class="articledetail-section summary">@BreakOf(articleData.Summary)</div>

            @if (articleData.Info.GetXmlProperty("genxml/lang/genxml/textbox/richtext") != "")
            {
                <div class="articledetail-section">
                    <div><strong>En savoir plus :</strong></div>
                    @HtmlOf(articleData.Info.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
                </div>
            }

            <div class="articledetail-section article-tags">
                <div>
                    @foreach (var c in articleData.GetCategories())
                    {
                        <span>@c.Name</span>
                    }
                </div>
            </div>

            @if (articleData.GetImages().Count > 1)
            {
                <div class="articledetail-section articlegallery">
                    @{
                        var imgLp = 1;
                    }
                    @foreach (var i in articleData.GetImages())
                    {
                        <a data-fancybox="gallery" data-caption="" href="@ImageUrl(i.RelPathWebp,640,0)">
                            <img src="@ImageUrl(i.RelPathWebp,120,0)" alt="" />
                        </a>

                    }
                </div>
            }

        </div>

        <div class="articledetail-right">

            <div class="articledetail-section image">
                <img alt="@articleData.Name" src="@ImageUrl(articleData.GetImage(0).RelPathWebp,300,0)" />
            </div>

            <div class="articledetail-section">
                <div class="ads-icon"><i class="far fa-user-circle fa-lg"></i></div>
                <div class="h4-headline">Référent</div>
                @foreach (var p in articleData.GetProperties())
                {
                    if (p.IsInGroup("Referent"))
                    {
                        <strong>@p.Name</strong>

                        <br />
                        @p.Summary
                    }
                }
            </div>

            @foreach (var lk in articleData.Getlinks())
            {
                if (!lk.Hidden)
                {
                    <a target="_blank" href="@lk.Url" target="@lk.Target">
                        @ButtonIcon(ButtonTypes.link)&nbsp;@lk.Name
                    </a>
                }
            }

            @foreach (var doc in articleData.GetDocs())
            {
                if (!doc.Hidden)
                {
                    <a target="_blank" href="/@doc.RelPath">
                        @ButtonIcon(ButtonTypes.download)&nbsp;@doc.Name
                    </a>                    
                }
            }

        </div>

    </div>

    <script>

        $(document).ready(function () {

            $('.returnlink').unbind('click');
            $('.returnlink').on('click', function (e) {
                $('#simplisity_loader').show();
                simplisity_setSessionField('searchtext', '');
            });
            $('.navgocolink').unbind('click');
            $('.navgocolink').on('click', function (e) {
                $('#simplisity_loader').show();
                simplisity_setSessionField('searchtext', '');
            });

        });

        $("[data-fancybox]").fancybox({
            lang: 'fr',
            i18n: {
                'fr': {
                    CLOSE: 'Fermer',
                    NEXT: 'Suivant',
                    PREV: 'Précédent',
                    ERROR: 'Le contenu demandé ne peut pas être chargé.<br />Veuillez réessayer plus tard.',
                    PLAY_START: 'Démarrer le diaporama',
                    PLAY_STOP: 'Mettre en pause le diaporama',
                    FULL_SCREEN: 'Plein écran',
                    THUMBS: 'Vignettes',
                    DOWNLOAD: 'Télécharger',
                    SHARE: 'Partager',
                    ZOOM: 'Zoomer'
                }
            }
        });

        function setSessionParams() {
            simplisity_setSessionField('searchtext', $('#searchtext').val());
            $('#simplisity_loader').show();
            window.location.href = '';
        }

    </script>

</div>
