@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var captionHeight = moduleData.GetSettingInt("captionheight");
    var alignment = moduleData.GetSetting("pos");
    var paddingClass = moduleData.GetSetting("padding");
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
}
<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))" style="padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    <div class="w3-section containerinner blogarticledetail">

    <div>
        <a href="@ListUrl(moduleData.ListPageTabId(), categoryData)" class="w3-button w3-theme-action">@ButtonIconText(ButtonTypes.back)</a>
    </div>


    <div class="w3-container w3-margin">
        <div class="w3-center">
            <h3>@articleData.Name</h3>
            <h5><span class="w3-opacity">@DateOf(articleData.Info, articleData.PublishedDateXPath,sessionParams.CultureCode, "dd MMM yyyy")</span></h5>
        </div>

        <p>@BreakOf(articleData.Summary)</p>

        <div class="w3-justify">
                <div class="w3-row">
                    <div class="w3-col m1 l1 w3-hide-small" >
                        @if (articleData.GetImages().Count > 1)
                        {
                            foreach (var i in articleData.GetImages().Take(6))
                            {
                                <div class="" style="padding-bottom:8px;padding-right:8px;">
                                    <img src="@ImageUrl(i.RelPathWebp,120,120)" onMouseOver="$('#mainimage@(articleData.ArticleId)').prop('src','@ImageUrl(i.RelPathWebp,640,400)');" alt="" style="width:100%" />
                                </div>
                            }
                        }
                    </div>
                    <div class="w3-col m11 l11">
                            <img id="mainimage@(articleData.ArticleId)" src="@ImageUrl(articleData.GetImage(0).RelPathWebp,640,400)" alt="@articleData.GetImage(0).Alt" style="width:100%" />
                    </div>
                </div>

            <div class="w3-row w3-margin w3-small">
                @ResourceKey("Blog.rating"):&nbsp;@articleData.ReviewScore
            </div>
            <p>
                @HtmlOf(articleData.RichText)
            </p>
            <div class="w3-row">
                @foreach (var tag in articleData.GetProperties("tags"))
                {
                    <span class="w3-light-grey w3-round-xlarge w3-padding w3-margin-right">
                        @tag.Name
                    </span>
                }
            </div>

            <div class="w3-row">
                <div class="w3-half">
                    @if (articleData.GetLinkList().Count > 0)
                    {
                        <div class="w3-xlarge w3-margin-top">@ButtonIcon(ButtonTypes.link)&nbsp;@ResourceKey("DNNrocket.links")</div>
                    }
                    @foreach (var lk in articleData.Getlinks())
                    {
                        if (!lk.Hidden)
                        {
                            <div class="w3-padding">
                                <a target="_blank" href="@lk.Url" target="@lk.Target">@lk.Name</a>
                            </div>
                        }
                    }
                </div>
                <div class="w3-half">
                    @if (articleData.GetDocList().Count > 0)
                    {
                        <div class="w3-xlarge w3-margin-top">@ButtonIcon(ButtonTypes.download)&nbsp;@ResourceKey("DNNrocket.documents")</div>
                    }
                    @foreach (var doc in articleData.GetDocs())
                    {
                        if (!doc.Hidden)
                        {
                            <div class="w3-padding">
                                <a target="_blank" href="/@doc.RelPath">
                                    @doc.Name
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

            @if (!moduleData.GetSettingBool("turnoffcomments") && UserUtils.IsValidUser(PortalUtils.GetCurrentPortalId(), UserUtils.GetCurrentUserId()))
            {
                var reviewfieldId = "articlereview";
                var userData = UserUtils.GetUserData(PortalUtils.GetCurrentPortalId(), UserUtils.GetCurrentUserId());
                <p class="w3-clear"></p>
                <div class="simplisity_panel">
                    <div id="blogreviewinput" class="w3-margin-top">
                       <div class="w3-row">
                            <div class="w3-half">
                                <label>@ResourceKey("DNNrocket.name")</label>
                                @TextBox(infoempty, "genxml/textbox/name" + reviewfieldId, "  maxlength='30' class='w3-input w3-border' autocomplete='off'", userData.DisplayName, false)
                            </div>
                            <div class="w3-quarter">
                                <label>@ResourceKey("Blog.rating")</label><br/>
                                @RadioButtonList(infoempty, "genxml/select/stars" + reviewfieldId,"1,2,3,4,5","1,2,3,4,5"," class='w3-right'","", ResourceKey("Blog.stars").ToString(),false)
                            </div>
                            <div class="w3-col m12">
                                <label>@ResourceKey("Blog.comment")</label>
                                @TextArea(infoempty, "genxml/textbox/comment" + reviewfieldId, " maxlength='300' class='w3-input w3-border' autocomplete='off'", "", false)
                            </div>
                       </div>
                    </div>
                    <div id="blogpostinoput" class="w3-center w3-margin-top">
                        <div class="w3-button w3-white w3-border simplisity_confirmclick" s-confirm="@ResourceKey("Blog.postcomments")?" s-cmd="remote_publicadduserreview" s-post="#blogreviewinput" s-return="#blogreviewinput" s-reload="true" s-fields='{"articleid":"@articleData.ArticleId"}'>
                            <b>@ResourceKey("Blog.addcomment")&nbsp;</b>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketblogapi' });
                        });
                    </script>
                </div>
            }
            @if (!moduleData.GetSettingBool("turnoffcomments"))
            {

                <div class="w3-right w3-margin-top">
                    <div class="w3-button w3-black" onclick="$('#blogreviews').toggle();">
                        <b>@ResourceKey("Blog.replies")&nbsp;</b>
                        <span class="w3-tag w3-white">@articleData.ReviewCount</span>
                    </div>
                </div>
                <p class="w3-clear"></p>

                <div id="blogreviews" class="w3-margin-top" style="display:none;">
                    @foreach (var r in articleData.GetReviews())
                    {
                        if (!r.Hidden)
                        {
                            <div class="w3-row w3-border-top w3-padding">
                                <div class="w3-large">@r.Name<span class="w3-opacity w3-medium">&nbsp;@DateOf(r.Info, "genxml/textbox/reviewdate",sessionParams.CultureCode,"dd MMM yyy")</span></div>
                                <div class="w3-small w3-margin-left">@BreakOf(r.Comment)</div>
                            </div>                       
                        }
                    }
                </div>
            }
        </div>
    </div>
    </div>
</div>
