@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var articleList = articleDataList.GetArticleList();
}

<div class="blogarticlewrapper">

    @if (sessionParams.GetInt("catid") == 0)
    {
        <h1>@portalData.Name</h1>
    }
    else
    {
        <h1>@categoryData.Name</h1>
    }

[INJECT:appthemedirectorydefault,SearchBanner.cshtml]

    @if (articleList.Count > 0)
    {
    <div class="w3-container blogarticlelist">

            @foreach (ArticleLimpet articleData in articleList)
            {
                var urlparams = new Dictionary<string, string>();
                urlparams.Add("articleid", articleData.ArticleId.ToString());
                var hreflink = DNNrocketUtils.NavigateURL(sessionParams.TabId, urlparams, articleData.Name);
                var date = articleData.Info.GetXmlPropertyDate("genxml/textbox/publisheddate");
                var dateFormat = date.ToString("dd/MM/yyyy");

                <div class="w3-card-4 w3-margin w3-white" style="overflow:hidden;">
                    <img src="@ImageUrl(articleData.GetImage(0).RelPathWebp,640,200)" alt="@articleData.GetImage(0).Alt"  style="width:100%"/>
                    <div class="w3-container">
                        <h3><b>@articleData.Name</b></h3>
                        <h5><span class="w3-opacity">@DateOf(articleData.Info, articleData.PublishedDateXPath,sessionParams.CultureCode, "dd MMM yyy")</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            @Succinct(articleData.Summary,100)
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <a href="@(hreflink)" class="w3-button w3-padding-large w3-white w3-border" title="@articleData.Name" onclick="$('#simplisity_loader').show();">
                                        <b>@ResourceKey("Blog.readmore")&nbsp;&gt;&nbsp;</b>
                                    </a>
                                </p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>@ResourceKey("Blog.comments")&nbsp;  </b> <span class="w3-tag">@articleData.ReviewCount</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
            }

    </div>

    <div class="w3-row w3-padding-16 w3-center">
            @RenderTemplate("articlePaging.cshtml", appThemeDirectoryDefault, Model, false)
    </div>

    }
    else
    {
            <div class="h2-headline">@ResourceKey("DNNrocket.notfound")</div>
    }

</div>

<script>

    $(document).ready(function () {

        $(function(){
            $('.truncate').succinct({
                size: 200
            });
        });

    });

</script>