@inherits RocketBlogAPI.Components.RocketBlogAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var articleList = articleDataList.GetArticleList();
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var captionHeight = moduleData.GetSettingInt("captionheight");
    var alignment = moduleData.GetSetting("alignment");
    var paddingClass = moduleData.GetSetting("padding");
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
    Model.SetSetting("pagesizelist", "6,12,24,48");
}

<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))" style="padding-right:8px;padding-left:8px;padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    <div class="w3-section containerinner">

    @if (!categoryData.Exists)
    {
        <h1>@portalData.Name</h1>
    }
    else
    {
        <h1>@categoryData.Name</h1>
    }

[INJECT:appthemedirectorydefault,SearchBanner.cshtml]

    @if (articleList.Count > 0)
    {
        <div class="w3-row w3-tiny">
            <a href="@RssUrl(portalData.PortalId,"rocketblogapi_rss", DateTime.Now.AddMonths(-11).Year, DateTime.Now.AddMonths(-11).Month, 12,"publisheddate")" target="_blank">
                <span class="material-icons">
                    rss_feed
                </span>
            </a>
        </div>

                foreach (var article in articleList)
                {
                    var info = article.Info;
                    var layout = info.GetXmlPropertyInt("genxml/select/layout");
                    var hStyle = info.GetXmlProperty("genxml/select/headingstyle");
                    var headingHide = info.GetXmlPropertyBool("genxml/checkbox/hideheading");
                    var hideRow = info.GetXmlPropertyBool("genxml/checkbox/hiderow");
                    var articleImage = article.GetImage(0);
                    var linkData = article.Getlink(0);

                    <div class="w3-section">
                        @if (moduleData.GetSettingInt("layout") == 1)
                        {
                            <div class="w3-container">
                                <div class="w3-twothird">
                                [INJECT:appthemeview,layouttext.cshtml]
                                </div>
                                <div class="w3-third">
                                    @if (articleImage.RelPath != "" && moduleData.GetSettingBool("showimage"))
                                    {
                                        <img class="w3-image @(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="w3-container">
                                <div class="w3-third">
                                    @if (articleImage.RelPath != "" && moduleData.GetSettingBool("showimage"))
                                    {
                                        <img class="w3-image @(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                                    }
                                </div>
                                <div class="w3-twothird">
                                    [INJECT:appthemeview,layouttext.cshtml]
                                </div>
                            </div>
                        }

                    </div>

                }

    <div class="w3-row w3-padding-16 w3-center">
        [INJECT:appthemedirectorydefault,articlePaging.cshtml]
    </div>

    }
    else
    {
            <div class="h2-headline">@ResourceKey("DNNrocket.notfound")</div>
    }

    </div>
</div>
