@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->

<div class="categories w3-padding w3-margin-top">

    <h4>@ResourceKey("DNNrocket.categories")</h4>

    <div class="w3-bar-block">
        <a href="@ListUrl(moduleData.ListPageTabId())" onclick="clearDateSearch();$('.simplisity_loader').show();" class="w3-bar-item w3-button categorylink">@ResourceKey("DNNrocket.all")</a>

        @foreach (var catData in categoryDataList.GetCategoryTree())
        {
            var selectedCat = "";
            var showloader = "$('.simplisity_loader').show();"; // Page does not refresh if anchor is on a link.
            if (catData.CategoryId == categoryData.CategoryId)
            {
                selectedCat = " w3-theme-l3 ";
                showloader = "";
            }
            if (!catData.Hidden && !catData.HiddenByCulture && catData.Level == 0)
            {
                if (catData.Level == 0)
                {
                    var l = catData.GetDirectChildren();
                    if (l.Count == 0)
                    {
                        <a href="@ListUrl(moduleData.ListPageTabId(), catData)#rocketblogdisplay" class="w3-bar-item w3-button categorylink @selectedCat" onclick="clearDateSearch();@showloader" style="text-decoration: none;">@catData.Name (@catData.GetArticles().RecordCount)</a>
                    }
                    else
                    {
                        <a href="@ListUrl(moduleData.ListPageTabId(), catData)#rocketblogdisplay" class="w3-bar-item w3-button categorylink @selectedCat" onclick="clearDateSearch();@showloader" style="text-decoration: none;">@catData.Name (@catData.GetArticles().RecordCount)</a>
                        <div class="w3-margin-left">
                            @foreach (var child in l)
                            {
                                selectedCat = "";
                                if (child.CategoryId == categoryData.CategoryId)
                                {
                                    selectedCat = " w3-theme-l3 ";
                                    showloader = "";
                                }
                                <a href="@ListUrl(moduleData.ListPageTabId(), child)#rocketblogdisplay" class="w3-bar-item w3-button categorylink @selectedCat" onclick="clearDateSearch();@showloader" style="text-decoration: none;">@child.Name  (@child.GetArticles().RecordCount)</a>
                            }
                        </div>
                    }
                }
            }
        }
    </div>
</div>

<script>
    function clearDateSearch() {
        simplisity_setSessionField('searchdate1', '');
        simplisity_setSessionField('searchdate2', '');
    }
</script>