@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var monthList = RocketDirectoryAPIUtils.GetArticlesByMonth(systemData.SystemKey, DateTime.Now.AddMonths(-6), 12, "publisheddate", sessionParams.GetInt("catid"));
}
<div class="rocket-months w3-padding w3-margin-top ">

    <div class="w3-button w3-block w3-left-align w3-theme-l3 rocket-monthdates rocket-monthdates0" onclick="showAll()">
        <span class="w3-text-black">
            @ResourceKey("RocketBlogAPI.latest")
        </span>
        <span class="w3-right">
        </span>
    </div>

    @{
        var monthidx = 1;
    }
    @foreach (var a in monthList)
    {
        if (a.Value.Count > 0)
        {
            <div class="w3-button w3-block w3-left-align rocket-monthdates rocket-monthdates@(monthidx) " monthidx="@(monthidx)" onclick="showSelected($(this).attr('monthidx'),'@a.Key.ToString("yyyy-MM-dd")', '@a.Key.AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd")');">
                <span>
                    @a.Key.ToString("MMMM yyyy")
                </span>
                <span class="w3-right">
                    @a.Value.Count
                </span>
            </div>
        }
        monthidx += 1;
    }

</div>

@DateJsApiCall(moduleData.SystemKey, "#rocket-blog", sessionParams)

<script>
    $(document).ready(function () {
        if (simplisity_getSessionField('searchdate1') != '' && simplisity_getSessionField('viewsearchtext') == '') {
            showSelected(simplisity_getSessionField('monthidx'));
        }
    });
    function showSelected(monthidx, date1, date2) {
        $('#viewsearchtext').val('');
        $('.rocket-monthdates').removeClass('w3-theme-l3');
        $('.rocket-monthdates' + monthidx).addClass('w3-theme-l3');
        simplisity_setSessionField('monthidx', monthidx);
        simplisity_setSessionField('viewsearchtext', '');
        doDateSearchReload(date1, date2);
    }
    function showAll() {
        $('#viewsearchtext').val('');
        simplisity_setSessionField('monthidx', '');
        simplisity_setSessionField('viewsearchtext', '');
        $('.rocket-monthdates').removeClass('w3-theme-l3');
        $('.rocket-monthdates0').addClass('w3-theme-l3');
        doDateSearchReload('', '');
    }

</script>
