@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
<div class=" ">
    @{
        var monthidx = 1;
    }
    @foreach (var a in RocketDirectoryAPIUtils.GetArticlesByMonth(systemData.SystemKey, DateTime.Now, 12, "publisheddate", sessionParams.GetInt("catid")))
    {
        if (a.Value.Count > 0)
        {
            <div class="w3-button w3-block w3-left-align rocket-monthdates rocket-monthdates@(monthidx) " monthidx="@(monthidx)" onclick="setSelected($(this).attr('monthidx'));doDateSearchReload('@a.Key.ToString("yyyy-MM-dd")','@a.Key.AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd")')">
                <span>
                    @a.Key.ToString("MMMM yyyy")
                </span>
                <span class="w3-right">
                    @a.Value.Count
                </span>
            </div>
        }
        monthidx += 1;
    }

</div>

@DateJsApiCall(moduleData.SystemKey, "#rocket-blog", sessionParams)

<script>
    $(document).ready(function () {
        if (simplisity_getSessionField('searchdate1') != '')
        {
            setSelected(simplisity_getSessionField('monthidx'));
        }
        $('.rocket-filtercheckbox').click(function(){
            $('.rocket-monthdates').removeClass('w3-grey');
        });
        $('.rocket-tagbutton').click(function(){
            $('.rocket-monthdates').removeClass('w3-grey');
        });
    });
    function setSelected(monthidx) {
        $('.rocket-monthdates').removeClass('w3-grey');
        $('.rocket-monthdates' + monthidx).addClass('w3-grey');
        simplisity_setSessionField('monthidx', monthidx);
    }
</script>
