@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@{
    var rssList = (List<ArticleLimpet>)Model.GetDataObject("rsslist");
}

<rss xmlns:blog="http://rocket-cds.org" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">

    <channel>
        
        <title><![CDATA[@catalogSettings.CatalogName]]></title>
        <link><![CDATA[@(DNNrocketUtils.NavigateURL(portalContent.ListPageTabId))]]></link>
        <description><![CDATA[@catalogSettings.Summary <test>jsd cjhsd>< "!£$%^&*()"]]></description>
        <pubDate><![CDATA[@DateTime.Now.ToString("r")]]></pubDate>
        <lastBuildDate><![CDATA[@DateTime.Now.ToString("r")]]></lastBuildDate>
        <generator><![CDATA[RocketCDS Blog RSS Generator]]></generator>
        <ttl><![CDATA[30]]></ttl>
        <atom:link href="@(portalData.EngineUrlWithProtocol)/Desktopmodules/dnnrocket/api/rocket/action?cmd=rocketblogapi_rss" rel="self" type="application/rss+xml" />

@foreach (ArticleLimpet articleData in rssList)
{
    var urlparams = new Dictionary<string, string>();
    urlparams.Add("articleid", articleData.ArticleId.ToString());
    var date = articleData.Info.GetXmlPropertyDate("genxml/textbox/publisheddate");
    var dateFormat = date.ToShortDateString();

        <item>
            <title><![CDATA[@articleData.Name]]></title>
            <description><![CDATA[@articleData.Summary]]></description>
            @foreach (var c in articleData.GetCategories())
            {
            <category><![CDATA[@c.Name]]></category>
            }
            <guid isPermaLink="true"><![CDATA[@DetailUrl(moduleData.DetailPageTabId(), articleData, categoryData)]]></guid>
            <pubDate><![CDATA[@articleData.Info.GetXmlPropertyDate("genxml/textbox/publisheddate").ToString("r")]]></pubDate>
            @if (catalogSettings.Info.GetXmlPropertyBool("genxml/checkbox/rssimage"))
            {
            <media:thumbnail width="@(catalogSettings.Info.GetXmlPropertyInt("genxml/textbox/imagewidthrss"))" height="@(catalogSettings.Info.GetXmlPropertyInt("genxml/textbox/imageheightrss"))" url="@(portalData.EngineUrlWithProtocol)@ImageUrl(articleData.GetImage(0).RelPath, catalogSettings.Info.GetXmlPropertyInt("genxml/textbox/imagewidthrss"), catalogSettings.Info.GetXmlPropertyInt("genxml/textbox/imageheightrss"))" />
            }
 
            <blog:publishedon><![CDATA[@articleData.Info.GetXmlPropertyDate("genxml/textbox/publisheddate").ToString("r")]]></blog:publishedon>
        </item>
}

    </channel>
</rss>