@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var displayList = new List<int>();
}
<div class="rocket-tags w3-padding">
    <span style="">
        @TagButton(0, "X", "rocket-tagbuttonOff", "rocket-tagbuttonOff",sessionParams)
    </span>
    @foreach (var g in moduleData.GetPropertyModuleGroups(catalogSettings))
    {
        foreach (var p in propertyDataList.GetPropertyTagList(g.Key))
        {
            if (!displayList.Contains(p.Key))
            {
                @TagButton(p.Key, p.Value, "rocket-tagbuttonOff", "rocket-tagbuttonOn",sessionParams)
                displayList.Add(p.Key);
            }
        }
    }
</div>

@TagJsApiCall(moduleData.SystemKey,"#rocket-blog", "rocket-tagbuttonOff", "rocket-tagbuttonOn", sessionParams)
