@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var info = moduleDataInfo;
    //NOTE: xPath for module settings must use "genxml/settings/*"
}

<div class="w3-row">
    @CheckBox(info, "genxml/settings/companyname", ResourceKey("DNNrocket.companyName").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/adress", ResourceKey("DNNrocket.adress").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/tel1", ResourceKey("DNNrocket.tel1").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/tel2", ResourceKey("DNNrocket.tel2").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/fax", ResourceKey("DNNrocket.fax").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/email", ResourceKey("DNNrocket.email").ToString(), "class='w3-check contactCb' ")</br>
    @CheckBox(info, "genxml/settings/extrainfo", ResourceKey("DNNrocket.extraInfo").ToString(), "class='w3-check contactCb' ")
</div>

<div class="w3-row">
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.cssClass")</label>
        @TextBox(info, "genxml/settings/cssclass", "class='w3-input w3-border'", "")
    </div>
</div>