@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();

    var hbsDict = new Dictionary<string, SimplisityInfo>();
    hbsDict.Add("resxlist", RenderRazorUtils.GetResxPaths(Processdata));

    AddProcessData("resourcepath", appThemeView.AppThemeFolderRel + "/resx/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/");
}

@foreach (var articleRowData in articleData.GetRows())
{
    Model.SetDataObject("articlerow",articleRowData)
    var info = articleRowData.Info;
    var layout = info.GetXmlPropertyInt("genxml/select/layout");
    var hStyle = info.GetXmlProperty("genxml/select/headingstyle");
    var headingHide = info.GetXmlPropertyBool("genxml/checkbox/hideheading");
    var hideRow = info.GetXmlPropertyBool("genxml/checkbox/hiderow");

    var swclass = "";
    var wclass = "w3-row";
    if (info.GetXmlPropertyInt("genxml/textbox/rowwidth") > 0)
    {
        swclass = "w3-col m" + (info.GetXmlPropertyInt("genxml/textbox/rowwidth") / 2).ToString();
        wclass = "w3-col m" + info.GetXmlPropertyInt("genxml/textbox/rowwidth");
    }

    var bg = "";
    if (info.GetXmlPropertyBool("genxml/checkbox/backgroundcolor"))
    {
        bg = "w3-light-grey";
    }
   
    var documentalignvalue = info.GetXmlPropertyInt("genxml/select/documentalign");
    var documentalign = "";
    if (documentalignvalue == 1)
    {
        documentalign = "w3-center";
    }
    if (documentalignvalue == 2)
    {
        documentalign = "w3-right-align";
    }

    var linkalignvalue = info.GetXmlPropertyInt("genxml/select/linkalign");
    var linkalign = "";
    if (linkalignvalue == 1)
    {
        linkalign = "w3-center";
    }
    if (linkalignvalue == 2)
    {
        linkalign = "w3-right";
    }


<div class="w3-row @bg " rowkey="@articleRowData.RowKey">

    @if (!hideRow)
    {
        if (swclass != "")
        {
            <div class="@swclass">&nbsp;</div>            
        }

        <div class="@wclass">

        @if (!headingHide)
        {
            var headingalignvalue = info.GetXmlPropertyInt("genxml/select/headingalign");
            var headingalign = "";
            if (headingalignvalue == 1)
            {
                headingalign = "w3-center";
            }
            if (headingalignvalue == 2)
            {
                headingalign = "w3-right";
            }

            if (hStyle == "")
            {
                hStyle = "h1";
            }

                if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
                {
                <div class="w3-padding @(headingalign)">
                    <@(hStyle)>
                        @info.GetXmlProperty("genxml/lang/genxml/textbox/title")
                    </@(hStyle)>                    
                </div>
                }
        }

        @if (layout == 0)
        {
            @RenderTemplate("layout0.cshtml", appThemeView, Model)
        }
        @if (layout == 1)
        {
            @RenderTemplate("layout1.cshtml", appThemeView, Model)
        }
        @if (layout == 2)
        {
            @RenderTemplate("layout2.cshtml", appThemeView, Model)
        }
        @if (layout == 3)
        {
            @RenderTemplate("layout3.cshtml", appThemeView, Model)
        }
        @if (layout == 4)
        {
            @RenderTemplate("layout4.cshtml", appThemeView, Model)
        }
        @if (layout == 5)
        {
            @RenderTemplate("layout5.cshtml", appThemeView, Model)
        }
        @if (layout == 6)
        {
            @RenderTemplate("layout6.cshtml", appThemeView, Model)
        }
        @if (layout == 7)
        {
            @RenderTemplate("layout7.cshtml", appThemeView, Model)
        }
        @if (layout == 8)
        {
            @RenderTemplate("layout8.cshtml", appThemeView, Model)
        }

        @if (info.GetXmlProperty("genxml/lang/genxml/textbox/htmltext") != "")
        {
            @RenderTemplate("htmltext.cshtml", appThemeView, Model)
        }
        @if (articleRowData.GetDocList().Count > 0)
        {
            @RenderTemplate("documents.cshtml", appThemeView, Model)
        }
        @if (articleRowData.Getlinks().Count > 0)
        {
            @RenderTemplate("links.cshtml", appThemeView, Model)
        }

        </div>

        if (swclass != "")
        {
            <div class="@swclass">&nbsp;</div>            
        }

    }
</div>
}

