@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(info)

<div class='w3-row w3-padding'>

    <div class="w3-bar" style="cursor: pointer;">
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink headingtablink" onclick="openSection('heading')">@ResourceKey("DNNrocket.title")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink htmltablink" onclick="openSection('html')">@ResourceKey("DNNrocket.content")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink imgstablink" onclick="openSection('imgs')">@ResourceKey("DNNrocket.images")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink docstablink" onclick="openSection('docs')">@ResourceKey("DNNrocket.documents")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink linkstablink" onclick="openSection('links')">@ResourceKey("DNNrocket.links")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink htmltexttablink" onclick="openSection('htmltext')">@ResourceKey("DNNrocket.html")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink othertablink" onclick="openSection('video')">@ResourceKey("DNNrocket.video")</div>
    </div>

    <div id="heading" class='w3-row sectionname' style="display:none">
        <div class='w3-row w3-margin-top w3-border'>
            <div class="w3-twothird w3-padding">
                <label>@ResourceKey("DNNrocket.date")</label>
                @TextBoxDate(info, "genxml/textbox/newsdate", " class='w3-input w3-border' autocomplete='off'", DateTime.Today.ToString("O"), false, 0)
            </div>
            <div class="w3-third w3-padding">
                <label>@ResourceKey("DNNrocket.hiderow")</label><br />
                @CheckBoxRowIsHidden(rowData)
            </div>
        </div>
        <div class='w3-row w3-margin-top w3-border'>
            <div class='w3-col m12 w3-padding' style='min-width: 200px;'>
                <label>@ResourceKey("DNNrocket.title")</label>		&nbsp;@EditFlag(sessionParams)
                @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
        </div>
        <div class='w3-row w3-margin-top w3-border'>
            <div class='w3-col m12 w3-padding' style='min-width: 200px;'>
                <label>@ResourceKey("DNNrocket.summary")</label>		&nbsp;@EditFlag(sessionParams)
                @TextArea(info, "genxml/lang/genxml/textbox/resume", " rows='4' class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
        </div>

    </div>
    <div id="html" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            @EditFlag(sessionParams)
            <div class='w3-col m12'>
                @CKEditor4(info, "genxml/lang/genxml/textbox/richtext", true)
            </div>
            <div class='w3-col' style='width:0px;height:600px;'></div>
        </div>
    </div>
    <div id="imgs" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            [INJECT:appthemesystem,ArticleImages.cshtml]
        </div>
    </div>
    <div id="docs" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            [INJECT:appthemesystem,ArticleDocuments.cshtml]
        </div>
    </div>
    <div id="links" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            [INJECT:appthemesystem,ArticleLinks.cshtml]
        </div>
    </div>
    <div id="htmltext" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            @EditFlag(sessionParams)
            @TextArea(info, "genxml/lang/genxml/textbox/htmltext", " class='w3-input w3-border' rows='8' ", "", true, 0)
        </div>
    </div>
    <div id="video" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            <label>@ResourceKey("DNNrocket.videocode")</label>
            @TextArea(info, "genxml/lang/genxml/textbox/video", " class='w3-input w3-border' rows='8' ", "", true, 0)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var sectionName = localStorage.getItem('sectiontabs');
        if ((typeof sectionName === 'undefined') || sectionName === '' || sectionName === null) {
            sectionName = "heading";
        }
        openSection(sectionName);
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

    });
    function openSection(sectionName) {
        $('.sectionname').hide();
        $('.tablink').removeClass("w3-border-black");
        $('.tablink').removeClass("w3-theme-l3");
        $('#' + sectionName).show();
        $('.' + sectionName + 'tablink').addClass("w3-border-black");
        $('.' + sectionName + 'tablink').addClass("w3-theme-l3");
        localStorage.setItem('sectiontabs', sectionName);
        // so the hidden one gets adjusted
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');
    }
</script>
