@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var info = new SimplisityInfo(moduleData.Record);
    AddProcessDataResx(appThemeAdmin, true);
    //NOTE: xPath for module settings must use "genxml/settings/*"
}
<div class="w3-row">
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.imageresize")</label>
        @TextBox(info, "genxml/settings/imageresize", " class='w3-input w3-border'", "640")
    </div>
    <div class="w3-third w3-padding">
        <label>CSS Class</label>
        @TextBox(info, "genxml/settings/cssclass", " class='w3-input w3-border'", "")
    </div>
    <div class="w3-third w3-padding">
        <br/>
        @CheckBoxRowECOMode(info, false)
    </div>
    <div class="w3-row">
        <div class="w3-third w3-padding">
            <label><b>@ResourceKey("DNNrocket.detailpage")</b></label>
            @TabSelectList(info, "genxml/settings/detailtabid", "class='w3-input w3-border'", false)
        </div>
        <div class="w3-third w3-padding">
            <label>@ResourceKey("DNNrocket.width")</label>
            @TextBox(info, "genxml/settings/detailwidth", " class='w3-input w3-border'", "400")
        </div>
        <div class="w3-third w3-padding">
            <label>@ResourceKey("DNNrocket.height")</label>
            @TextBox(info, "genxml/settings/detailheight", " class='w3-input w3-border'", "300")
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-third w3-padding">
        <label><b>@ResourceKey("DNNrocket.listpage")</b></label>
            @TabSelectList(info, "genxml/settings/listtabid", "class='w3-input w3-border'", false)
        </div>
        <div class="w3-third w3-padding">
            <label>@ResourceKey("DNNrocket.width")</label>
            @TextBox(info, "genxml/settings/listwidth", " class='w3-input w3-border'", "240")
        </div>
        <div class="w3-third w3-padding">
            <label>@ResourceKey("DNNrocket.height")</label>
            @TextBox(info, "genxml/settings/listheight", " class='w3-input w3-border'", "120")
        </div>
    </div>
 
</div>