@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/AppTheme-AgenceSesame/rocketcontentapi.Articles/1.0/resx")
<!--inject-->
@{
    var rowDetail = articleData.GetRow(sessionParams.Get("rowkey"));
}

<div class="@(moduleData.GetSetting("cssclass"))">

@if (rowDetail != null)
{
    var rtnUrl = ListUrl(moduleData.GetSettingInt("listtabid"));
    var group = rowDetail.RowKey;
    var mainImage = rowDetail.GetImage(0);

    <article class="blog-detail">

        <a class="w3-button w3-xlarge w3-theme-action " href="@rtnUrl">@ResourceKey("DNNrocket.back")</a>
        <div class="w3-row w3-center">
                <h1>@rowDetail.Get("genxml/lang/genxml/textbox/title")</h1>
                <img src="@ImageUrl(mainImage.RelPathWebp, moduleData.GetSettingInt("detailwidth"), moduleData.GetSettingInt("detailheight"))" alt="@(mainImage.Alt)" />
        </div>

        <p class="w3-large"><span>@ResourceKey("Articles.published") </span>@DateOf(info,"genxml/textbox/newsdate",sessionParams.CultureCode,"dd MMM yyyy")</p>

        <div class="w3-container">

        @HtmlOf(rowDetail.Get("genxml/lang/genxml/textbox/richtext"))

        @foreach (var linkData in articleRowData.Getlinks())
        {    
            if (!linkData.Hidden)
            {
                <a href="@(linkData.Url)" target="@(linkData.Target)">@linkData.Name</a>
            }
        }

        @foreach (ArticleDoc documentData in rowDetail.GetDocs())
        {
            if (!documentData.Hidden)
            {
                <div>
                    <a href="@(documentData.RelPath)" target="_blank" >@documentData.Name</a>
                </div>
            }
        }


            @if (rowDetail.Get("genxml/lang/genxml/textbox/htmltext") != "")
            {
                <div class="w3-row w3-margin">@HtmlOf(rowDetail.Get("genxml/lang/genxml/textbox/htmltext"))</div>
            }

            @if (rowDetail.Get("genxml/lang/genxml/textbox/video") != "")
            {
                <div class="w3-row w3-margin">@HtmlOf(rowDetail.Get("genxml/lang/genxml/textbox/video"))</div>
            }
        </div>

        @if (!moduleData.ECOMode)
        {
            <div class="w3-row w3-padding">
                @foreach (var articleImage in rowDetail.GetImages())
                {
                    <div class="w3-col l2 m3 s6 w3-padding">
                        <a data-caption="@(articleImage.Alt)" href="@ImageUrl(articleImage.RelPathWebp,0,0)">
                            <img src="@ImageUrl(articleImage.RelPathWebp, 240, 240)" alt="@(articleImage.Alt)" style="width:100%" />
                        </a>
                    </div>
                }
            </div>
        }

        <hr />
    
    </article>
}
else
{
        <div class="">
            <div class="w3-container">
                [INJECT:appthemesystem,ArticleHeaderView.cshtml]
            </div>
            <ul class="w3-ul">
                @foreach (var articleRowData in articleData.GetRows())
                {
                    if (!articleRowData.IsHidden)
                    {
                        var title = articleRowData.Get("genxml/lang/genxml/textbox/title");
                        var detailurl = DetailUrl(moduleData.GetSettingInt("listtabid"), title, articleRowData.RowKey).ToString();
                        var date = articleRowData.GetDate("genxml/textbox/newsdate");
                        var articleImage = articleRowData.GetImage(0);

                        <li class="w3-bar">
                            <a class="w3-bar-item w3-button w3-xlarge w3-right w3-theme-action" href="@(detailurl)">@ResourceKey("Articles.readmore")</a>
                            @if (!moduleData.ECOMode)
                            {
                            <img src="@ImageUrl(articleImage.RelPathWebp, moduleData.GetSettingInt("listwidth"), moduleData.GetSettingInt("listheight"))" alt="@(articleImage.Alt)" class="w3-bar-item w3-round" />                                
                            }
                            <div class="w3-bar-item">
                                <span class="w3-large"><a href="@(detailurl)">@title</a></span><br>
                                <span>@date.ToString("dd MMM yyyy")</span>
                                <p>@BreakOf(articleRowData.Get("genxml/lang/genxml/textbox/resume"))</p>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
}
</div>

