@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerceAPI/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var notification = (NotificationLimpet)Model.GetDataObject("notificationdata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata"); ;
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata");
    var paymentData = (CompanyLimpet)Model.GetDataObject("paymentdata");
    var info = new SimplisityInfo();
    if (paymentData != null)
    {
        info = paymentData.Info;
    }
}

<div id="cartbankreturn">
    <div class="simplisity_loader">
        <span class=" simplisity_loader_inner">
        </span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#cartbankreturn').getSimplisity('@(portalShop.ApiUrl)', '@(sessionParams.Get("cmd"))', '{"systemkey":"rocketecommerceapi", "moduleref": "@(sessionParams.ModuleRef)","key":"@(sessionParams.Get("key"))" }', '')
    });
</script>
