@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{ 
    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata"); ;
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var moduleSettings = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var categoryData = (CategoryLimpet)Model.GetDataObject("categorydata");
}

@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerceAPI/App_LocalResources/")

<!--inject-->

<h1>@companyData.CompanyName</h1>

<div class="w3-row">
    <div class="w3-threequarter w3-padding">
    @foreach (ProductLimpet productData2 in productDataList.GetArticleList())
    {
        var urlparams = new Dictionary<string, string>();
        urlparams.Add("pid", productData2.ProductId.ToString());
        var productDetailUrl = DNNrocketUtils.NavigateURL(moduleSettings.DetailPageTabId(), urlparams, productData2.Name);

        <div class="w3-row w3-padding">
            <div class="w3-threequarter w3-padding w3-center">
                @productData2.Name
            </div>
            <div class="w3-threequarter w3-padding">
                @BreakOf(productData2.Summary)
            </div>
        </div>
        <div class="w3-row w3-padding w3-center">
            <a href="@(productDetailUrl)" class=" w3-light-grey w3-button w3-theme-action " title="@productData2.Name" onclick="$('.simplisity_loader').show();">
                @MaterialIcon("add")&nbsp;@ResourceKey("Register.addnewattendee")
            </a>
        </div>
    }
    </div>
    <div class="w3-quarter w3-padding">
        <div class="w3-row w3-margin-top w3-border-top w3-hide-small">
            <h2>@ResourceKey("Register.attendees")</h2>
            <div class="w3-row">
                @foreach (var cItem in cartData.CartItemList)
                {
                    var o1 = cItem.GetOption(1);
                    var o2 = cItem.GetOption(2);

                    <div>
                        @MaterialIcon("account_circle")
                    </div>

                    <div class="w3-row w3-small">
                        @if (o1 != null)
                        {
                            <div>@o1.OptionName:&nbsp;@Succinct(o1.SelectedText, 30)</div>
                        }
                        @if (o2 != null)
                        {
                            <div>@o2.OptionName:&nbsp;@Succinct(o2.SelectedText, 30)</div>
                        }
                    </div>
                    <br />
                }
            </div>
            @if (cartData.CartItemList.Count > 0)
            {
                <div class="w3-row w3-padding">
                    <div id="cartdisplay" class="w3-button w3-right w3-border  simplisity_click " s-cmdurl="@(portalShop.ApiUrl)" s-return="#ecommerce-tag" s-cmd="rocketecommerceapi_cartlist" s-fields='{"template":"cartlist.cshtml","moduleref":"@(moduleSettings.ModuleRef)"}'>@MaterialIcon("shopping_cart_checkout")&nbsp;@ResourceKey("RE.checkout")</div>
                </div>
            }
        </div>
    </div>


</div>

