@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(rowData)

<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNrocket.title")</label>
        @TextBox(info, "genxml/lang/genxml/textbox/title", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='200'", "", false)
    </div>
</div>

<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNRocket.content")</label>&nbsp;@EditFlag(sessionParams)
        @TextArea(info, "genxml/lang/genxml/textbox/content", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='500' row='4'", "", false)
    </div>
</div>

<div class="w3-row w3-padding">
    <label>@ResourceKey("DNNrocket.image")</label>
    <div class="w3-row w3-border w3-card w3-round-large w3-padding">
        [INJECT:appthemesystem,ArticleImage.cshtml]
    </div>
</div>


<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNRocket.name")</label>
        @TextBox(info, "genxml/textbox/name", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='500' row='4'", "", false)
    </div>
</div>

