@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssignDataModel(Model)
<!--inject-->
@{
    var articleImage = articleRowData.GetImage(0);
    var stylepadding = StylePadding();
}
<div class="w3-section @moduleData.GetSetting("pos") @moduleData.GetSetting("cssclass") @moduleData.GetSetting("backgroundcolor")" style="@(stylepadding)">
    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
    {
        <p class="@moduleData.GetSetting("titlesize") w3-padding">
            @BreakOf(info.GetXmlProperty("genxml/lang/genxml/textbox/title"))
        </p>
    }
    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/content") != "")
    {
        <p class="@moduleData.GetSetting("abovesize") w3-padding " style="width: 50%;display: inline-block;">
            @BreakOf(info.GetXmlProperty("genxml/lang/genxml/textbox/content"))
        </p>
    }

    @if (articleImage.RelPath != "")
    {
        <div class="w3-center " style="width:100%;">
            <img class="@(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
        </div>
    }

</div>



