@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="@(moduleData.GetSetting("cssclass"))">
    <div class="linkswrapper">
        [INJECT: appthemesystem,ArticleHeaderView.cshtml]
        <ul class="links">
            @foreach (var linkData in articleRowData.Getlinks())
            {
                if (!linkData.Hidden && !linkData.IsDisabled)
                {
                    <li>
                        <a href="@(linkData.Url)" target="@(linkData.Target)">@linkData.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
