@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
<!--inject-->
@{
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var info = new SimplisityInfo(moduleData.Record);

    AddProcessDataResx(appThemeAdmin, true);
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/");

    //NOTE: xPath for module settings must use "genxml/settings/*"
}

<div class="w3-third w3-padding">
    <label>Title Text Size</label>
    @DropDownList(info, "genxml/settings/titlesize", W3Utils.W3sizes(), "class='w3-input w3-border' ", "")
</div>
<div class="w3-third w3-padding">
    <label>Icon Size</label>
    @DropDownList(info, "genxml/settings/iconsize", W3Utils.W3sizes(), "class='w3-input w3-border' ", "")
</div>
<div class="w3-third w3-padding">
    <label>Icon Color</label>
    @DropDownList(info, "genxml/settings/iconcolor", W3Utils.W3textcolors(), "class='w3-input w3-border' ", "normal")
</div>
<div class="w3-third w3-padding">
    <label>Background Color</label>
    @DropDownList(info, "genxml/settings/backgroundcolor", W3Utils.W3colors(), "class='w3-input w3-border' ", "normal")
</div>
<div class="w3-third w3-padding">
    <label>Padding</label><br />
    @RadioButtonList(info, "genxml/settings/padding", "w3-padding-small,w3-padding,w3-padding-large", "Small,Medium,Large", " class=''", "w3-padding")
</div>
<div class="w3-row w3-padding ">
    <label>Top Padding</label>
    @TextBox(info, "genxml/settings/toppadding", " class='w3-input' min='0' max='300' step='50'", "50", false, 0, "", "range")
</div>
<div class="w3-row w3-padding ">
    <label>Bottom Padding</label>
    @TextBox(info, "genxml/settings/bottompadding", " class='w3-input' min='0' max='300' step='50'", "50", false, 0, "", "range")
</div>
<div class="w3-third w3-padding">
    <label>@ResourceKey("DNNrocket.cssClass")</label>
    @TextBox(info, "genxml/settings/cssclass", "class='w3-input w3-border'", "")
</div>
