@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="@(moduleData.GetSetting("cssclass"))">
    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
    {
        <div class="h4-headline">@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</div>
    }
    <div id="@articleRowData.RowKey" class="socialicons si-colored">
        @if (info.GetXmlProperty("genxml/textbox/facebook") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/facebook")" class="facebookicon" title="facebook" target="_blank"><span class="ri-facebook"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/linkedin") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/linkedin")" class="linkedinicon" title="linkedin" target="_blank"><span class="ri-linkedin"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/instagram") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/instagram")" class="instagramicon" title="instagram" target="_blank"><span class="ri-instagram"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/youtube") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/youtube")" class="youtubeicon" title="youtube" target="_blank"><span class="ri-youtube-play"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/twitter") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/twitter")" class="twittericon" title="twitter" target="_blank"><span class="ri-twitter"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/pinterest") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/pinterest")" class="pinteresticon" title="pinterest" target="_blank"><span class="ri-pinterest"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/tripadvisor") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/tripadvisor")" class="tripadvisoricon" title="tripadvisor" target="_blank"><span class="ri-tripadvisor"></span></a>
        }
        @if (info.GetXmlProperty("genxml/textbox/rss") != "")
        {
            <a href="@info.GetXmlProperty("genxml/textbox/rss")" class="rssicon" title="rss" target="_blank"><span class="ri-rss"></span></a>
        }
    </div>
</div>


