@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->

<div class="w3-row">
    @foreach (var articleImage in articleRowData.GetImages())
    {
        if (!articleImage.Hidden)
        {
            <div class="w3-third @moduleData.GetSetting("padding")">
                <img class="w3-image @(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
            </div>
        }
    }
</div>   

<div class="w3-row  @moduleData.GetSetting("padding")">
    @HtmlOf(info.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
</div>


