@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/AppTheme-AgenceSesame/rocketcontentapi.Articles/1.0/resx")
<!--inject-->
@{
    var info = moduleDataInfo;
    //NOTE: xPath for module settings must use "genxml/settings/*"
}
<div class="w3-row">
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.rowlimit")</label>
        @TextBox(info, "genxml/settings/limit", "type='number' class='w3-input w3-border'", "1")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.width") (px)</label>
        @TextBox(info, "genxml/settings/width", "type='number' class='w3-input w3-border'", "240")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.height") (px)</label>
        @TextBox(info, "genxml/settings/height", "type='number' class='w3-input w3-border'", "120")
    </div>
    <div class="w3-third w3-padding">
        <label>@ResourceKey("DNNrocket.listpage")</label>
        @TabSelectListOnTabId(info, "genxml/settings/listpage", "class='w3-input w3-border'" )
    </div>

    <div class="w3-third w3-padding">
        <br />
        @CheckBoxRowECOMode(info, false)
    </div>

</div>
