@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->

<div class="w3-row">
        <h1>
            @if (!categoryData.Exists)
            {
                <span>@portalData.Name</span>
            }
            else
            {
                <span>@categoryData.Name</span>
            }
        </h1>

        <div class="w3-row">
            [INJECT:appthemedefault,SearchBanner.cshtml]
        </div>

        <div class="w3-row w3-padding">

        @foreach (List<ArticleLimpet> rowlist in articleDataList.GetArticleRows(3))
        {
            <div class="w3-row" >
                @foreach (ArticleLimpet articleData2 in rowlist)
                {
                    <div class="w3-third w3-padding-small w3-center">
                        <a href="@DetailUrl(portalContent.ListPageTabId, articleData2)#articledisplay" title="@articleData2.Name" onclick="$('.simplisity_loader').show()">
                            <img src="@ImageUrl(articleData2.GetImage(0).RelPath,400,225)" style="width:100%;" alt="@articleData2.Name">
                        </a>
                        <div class="w3-row">
                            <h3>@articleData2.Name</h3>
                            <p>@Succinct(articleData2.Summary, 80, true)</p>
                        </div>
                    </div>
                }
            </div>
        }
        </div>

        <div class="w3-row w3-padding-16 w3-center">
            [INJECT:appthemedefault,ArticlePaging.cshtml]
        </div>

        <script>
            $(document).ready(function () {
                $('.simplisity_loader').hide();
            });
        </script>
</div>


