@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->

<h1>
    @if (sessionParams.GetInt("catid") == 0)
    {
        <span>@portalData.Name</span> }
    else
    {
        <span>@categoryData.Name</span>}
</h1>

<div class="w3-row">
    [INJECT:appthemedefault,SearchBanner.cshtml]
</div>

<div class="w3-row w3-padding-16 w3-center">
    @foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
    {
        var urlparams = new Dictionary<string, string>();
        urlparams.Add("articleid", articleData.ArticleId.ToString());

        <div class="w3-col s12 m6 l3 w3-padding w3-center">
            <a href="@(DNNrocketUtils.NavigateURL(sessionParams.TabId, urlparams, articleData.Name))" title="@articleData.Name" onclick="$('.simplisity_loader').show()">
                <img src="@ImageUrl(articleData.GetImage(0).RelPath,200,200)" style="width:100%;" alt="@articleData.Name">
            </a>
            <div class="" style="height:100px;overflow:hidden;">
                <h3>@articleData.Name</h3>
                <p>@articleData.Summary</p>
            </div>
        </div>
    }
</div>

<div class="w3-row w3-padding-16 w3-center">
    [INJECT:appthemedefault,ArticlePaging.cshtml]
</div>

<script>
    $(document).ready(function () {
        $('.simplisity_loader').hide();
        simplisity_setSessionField('@(portalContent.SystemKey)listurl', window.location.href); // href to cookie so we can use it on the detail back button.
    });
</script>
