@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(rowData)

<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNrocket.title")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@DeepL("title", "title")
        @TextBox(info, "genxml/lang/genxml/textbox/title", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='200'", "", false)
    </div>
</div>

<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNRocket.text")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@ChatGPT("text")&nbsp;@DeepL("text","text")
        @TextArea(info, "genxml/lang/genxml/textbox/text", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='500' row='4'", "", false)
    </div>
</div>

<div class="w3-row w3-padding">
    <label>@ResourceKey("DNNrocket.image")</label>
    [INJECT:appthemesystem,ArticleImage.cshtml]
</div>

<div class="w3-row w3-padding">
    <div class="w3-col">
        <label>@ResourceKey("DNNRocket.content")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@ChatGPT("content")&nbsp;@DeepL("content", "content")
        @TextArea(info, "genxml/lang/genxml/textbox/content", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='500' row='4'", "", false)
    </div>
</div>

<div class="w3-row w3-padding">
    <label>@ResourceKey("DNNrocket.link")</label>
    [INJECT:appthemesystem,ArticleLink.cshtml]
</div>
