@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssignDataModel(Model)
<!--inject-->
@{
    var articleImage = articleRowData.GetImage(0);
    var linkData = articleRowData.Getlink(0);
    var stylepadding = StylePadding();
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
}
<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))">
    <div class="w3-section containerinner" style="@(stylepadding)">
        @if (moduleData.GetSettingInt("layout") == 1)
        {
            <div class="w3-container">
                <div class="w3-twothird">
                    [INJECT:appthemeview,layouttext.cshtml]
                </div>
                <div class="w3-third">
                    @if (articleImage.RelPath != "")
                    {
                        <img class="@(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                    }
                </div>
            </div>
        }
        @if (moduleData.GetSettingInt("layout") == 2)
        {
            <div class="w3-container">
                <div class="w3-third">
                    @if (articleImage.RelPath != "")
                    {
                        <img class="@(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                    }
                </div>
                <div class="w3-twothird">
                    [INJECT:appthemeview,layouttext.cshtml]
                </div>
            </div>
        }
    </div>
</div>

