@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@RowKey(rowData)

<div id="heading" class='w3-row w3-margin-top sectionname'>
    <div class='w3-col m12 w3-padding' style='min-width:200px;'>
        <label>@ResourceKey("DNNrocket.heading")</label> @EditFlag(sessionParams)
    @TextBox(rowData, "genxml/lang/genxml/textbox/title", " id='title' class='w3-input w3-border' autocomplete='off' ", "", true, 0)
    </div>
</div>

<div id="imgs" class='w3-row w3-margin-top sectionname'>
    <div class='w3-col m12 w3-padding '>
        [INJECT:appthemesystem,ArticleImage.cshtml]
    </div>
</div>