@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(info)

<a href="http://manager.rocket-cds.org/Aides-aux-modules/ContactDetails" title="@ResourceKey("DNNrocket.help")" target="_blank" class="w3-button w3-circle w3-blue">?</a>

<div class='w3-row w3-padding'>
    <div class="w3-col m12 w3-padding">
        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.moduletitle")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' ", "", true)
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.companyName")</label>&nbsp;@EditFlag(sessionParams)
            @TextBox(info, "genxml/lang/genxml/textbox/company", " class='w3-input w3-border' ", "", true)
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.adress")</label>
            @TextArea(info, "genxml/textbox/adress", " rows='4' class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>@ResourceKey("DNNrocket.tel1")</label>
            @TextBox(info, "genxml/textbox/tel1", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Clic @ResourceKey("DNNrocket.tel1")</label>
            @TextBox(info, "genxml/textbox/clicktel1", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>@ResourceKey("DNNrocket.tel2")</label>
            @TextBox(info, "genxml/textbox/tel2", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>Clic @ResourceKey("DNNrocket.tel2")</label>
            @TextBox(info, "genxml/textbox/clicktel2", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>@ResourceKey("DNNrocket.fax")</label>
            @TextBox(info, "genxml/textbox/fax", " class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-half w3-padding">
            <label>@ResourceKey("DNNrocket.email")</label>
            @TextBox(info, "genxml/textbox/email", " class='w3-input w3-border' ", "", false)
        </div>

        <!-- CONTACTS -->
        <br />
        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.addcontact")</label>
            [INJECT:appthemeadmin,Contacts.cshtml]
        </div>
        <br />

        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.extraInfo")&nbsp;@EditFlag(sessionParams)</label>
            @TextArea(info, "genxml/lang/genxml/textbox/extrainfo", " rows='4' class='w3-input w3-border' ", "", true)
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("DNNrocket.codegooglemap")</label>
            @TextArea(info, "genxml/lang/genxml/textbox/map", " rows='4' class='w3-input w3-border' ", "", true)
        </div>
    </div>
</div>