@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

@foreach (var linkInfo in articleRowData.GetLinkList())
{
    if (linkInfo.GetXmlProperty("genxml/textbox/contactmulti") != "")
    {
    <div class="contact-item">
        <div class="ci-content">
            <h3>@linkInfo.GetXmlProperty("genxml/textbox/contactmulti")</h3>
            @if (linkInfo.GetXmlProperty("genxml/textbox/namemulti") != "")
            {
                <div>@info.GetXmlProperty("genxml/textbox/namemulti")</div>
            }
            @if (linkInfo.GetXmlProperty("genxml/textbox/mobilemulti") != "")
            {
                <div>@ResourceKey("DNNrocket.mobile") : @linkInfo.GetXmlProperty("genxml/textbox/mobilemulti")</div>
            }
            @if (linkInfo.GetXmlProperty("genxml/textbox/emailmulti") != "")
            {
                <div>@EmailOf(info, "genxml/textbox/emailmulti")</div>
            }
        </div>
    </div>
    }
}

