@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

@foreach (var linkInfo in articleRowData.GetLinkList())
{
    if (linkInfo.GetXmlProperty("genxml/textbox/contactmulti") != "")
    {
    <div class="w3-row">
        <div class="w3-large">@linkInfo.GetXmlProperty("genxml/textbox/contactmulti")</div>
        <div class="w3-contaianer w3-margin-left">
            @if (linkInfo.GetXmlProperty("genxml/textbox/namemulti") != "")
            {
                    <div class="">@info.GetXmlProperty("genxml/textbox/namemulti")</div>
            }
            @if (linkInfo.GetXmlProperty("genxml/textbox/emailmulti") != "")
            {
                    <div class="">@EmailOf(info, "genxml/textbox/emailmulti")</div>
            }
            @if (linkInfo.GetXmlProperty("genxml/textbox/contacttelmulti") != "")
            {
                    <div class="">@ResourceKey("DNNrocket.tel1") : @linkInfo.GetXmlProperty("genxml/textbox/contacttelmulti")</div>
            }
        </div>
    </div>
    }
}

