@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
    var stylepadding = StylePadding();
}

<div class="w3-section @moduleData.GetSetting("cssclass") @(backgroundcolor)" style="@stylepadding">
    <div id="@articleRowData.RowKey" class="contact-infos">
        @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
        {
            <div class="w3-small">@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</div>
        }
        @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/company") != "")
        {
            <div class="w3-xlarge">@rowData.GetXmlProperty("genxml/lang/genxml/textbox/company")</div>
        }
        <div class="w3-contaianer w3-margin-left">
            @if (rowData.GetXmlProperty("genxml/textbox/adress") != "")
            {
                <p class="">@BreakOf(info, "genxml/textbox/adress")</p>
            }
            @if (rowData.GetXmlProperty("genxml/textbox/email") != "")
            {
                <div class="">@EmailOf(info, "genxml/textbox/email")</div>
            }
            @if (rowData.GetXmlProperty("genxml/textbox/tel1") != "")
            {
                <div class="">@ResourceKey("DNNrocket.tel1") : @rowData.GetXmlProperty("genxml/textbox/tel1")</div>
            }
            @if (rowData.GetXmlProperty("genxml/textbox/fax") != "")
            {
                <div class="">@ResourceKey("DNNrocket.fax") : @rowData.GetXmlProperty("genxml/textbox/fax")</div>
            }
        </div>

        <div class="w3-margin-top">
            [INJECT:appthemeview,DisplayContacts.cshtml]
        </div>

        @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo") != "")
        {
            <div class="w3-row w3-padding">@BreakOf(info, "genxml/lang/genxml/textbox/extrainfo")</div>
        }
    </div>
</div>
