@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeAdmin, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(rowData)

<div class='w3-row w3-padding'>
    @EditFlag(sessionParams)
    @TextArea(info, "genxml/lang/genxml/textbox/htmltext", " class='w3-input w3-border' rows='16' ", "", true, 0)
</div>