@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

@{
    var mask = "";
    if (moduleData.GetSettingBool("genxml/settings/mask"))
    {
        mask = "rs-mask";
    }
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var separationLine = moduleData.GetSettingBool("separation");
}
<div @(moduleData.GetSetting("cssclass"))>
    <div class="slider-container @(mask)">
        <ul class="rslides" id="heroslider">
            @foreach (var articleRowData in articleData.GetRows())
            {
                rowData = articleRowData.Info;
                var crop = rowData.GetXmlProperty("genxml/select/crop");
                if (crop == "")
                {
                    crop = "center";
                }
                var hideRow = rowData.GetXmlPropertyBool("genxml/checkbox/hiderow");
                if (!hideRow)
                {
                    var articleImage = articleRowData.GetImage(0);
                    <li style="background: url('@ImageUrl(articleImage.RelPathWebp, width, height, "", "webp")') center @(crop) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" class="@rowData.GetXmlProperty("genxml/lang/genxml/textbox/cssclass")">
                        <div class="caption">
                            @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
                            {
                                <h2>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
                            }
                            @if (separationLine)
                            {
                                <hr />
                            }
                            @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/title2") != "")
                            {
                                <h3>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title2")</h3>
                            }
                            @if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/text") != "")
                            {
                                <p>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/text")</p>
                            }
                            @{
                                var linkData = articleRowData.Getlink(0);
                                if (!linkData.Hidden && !linkData.IsDisabled)
                                {
                                    <a href="@(linkData.Url)" class="bigbutton" target="@(linkData.Target)">@linkData.Name</a>
                                }
                            }
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#heroslider").responsiveSlides({
            speed: 1000,
            timeout: 4000,
            pager: true,
            nav: false
        });

        var vheight = $(window).height();
        $('.slider-container').css('height', vheight - $('.header').height() + 'px');

    });

    $(window).resize(function () {
        var vheight = $(window).height();
        $('.slider-container').css('height', vheight - $('.header').height() + 'px');
    });

</script>



