@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var captionHeight = moduleData.GetSettingInt("captionheight");
    var alignment = moduleData.GetSetting("alignment");
    var paddingClass = moduleData.GetSetting("padding");
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
    var listRtnUrl = ListUrl(moduleData.ListPageTabId(), categoryData, new string[] { "page", sessionParams.Page.ToString() });
}
<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))" style="padding-right:8px;padding-left:8px;padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    <div class="w3-section containerinner newsarticledetail">

        <div class="w3-margin-bottom">
            <a href="@(listRtnUrl + "#rocketnewsdisplay")" onclick="$('.simplisity_loader').show();" class="w3-button w3-theme-l5 w3-text-dark-grey w3-border w3-border-light-grey w3-round-xlarge w3-hover-white backlink">@ButtonIconText(ButtonTypes.back)</a>
        </div>

        <div class="w3-card w3-white w3-round-large w3-border w3-padding-large">
            <div class="w3-center w3-margin-bottom">
                <h2>@articleData.Name</h2>
                <h5><span class="w3-opacity">@DateOf(articleData.Info, articleData.PublishedDateXPath,sessionParams.CultureCode, "dd MMM yyyy")</span></h5>
            </div>

            <div class="w3-row w3-margin-bottom w3-panel w3-light-grey w3-leftbar w3-border-theme">
                @BreakOf(articleData.Summary)
            </div>

            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col m2 l2 w3-hide-small">
                    @if (articleData.GetImages().Count > 1)
                    {
                        foreach (var i in articleData.GetImages().Take(6))
                        {
                            <div class="w3-margin-bottom">
                                <img src="@ImageUrl(i.RelPath,120,120)" onMouseOver="$('#mainimage@(articleData.ArticleId)').prop('src','@ImageUrl(i.RelPath,640,400)');" alt="" class="w3-image w3-border w3-round" style="width:100%" />
                            </div>
                        }
                    }
                </div>
                <div class="w3-col m10 l10 s12">
                    <img id="mainimage@(articleData.ArticleId)" src="@ImageUrl(articleData.GetImage(0).RelPath,640,400)" alt="@articleData.GetImage(0).Alt" class="w3-image w3-round-large w3-border" style="width:100%" />
                </div>
            </div>

            <div class="w3-row w3-margin-bottom w3-content" style="max-width:100%;">
                @HtmlOf(articleData.RichText)
            </div>

            <div class="w3-row w3-margin-bottom">
                @foreach (var tag in articleData.GetProperties("tags"))
                {
                    <span class="w3-tag w3-light-grey w3-round-xlarge w3-margin-right w3-margin-bottom">@tag.Name</span>
                }
            </div>

            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-half w3-margin-bottom">
                    @if (articleData.GetLinkList().Count > 0)
                    {
                        <div class="w3-large w3-margin-bottom">@ButtonIcon(ButtonTypes.link)&nbsp;@ResourceKey("DNNrocket.links")</div>
                    }
                    @foreach (var lk in articleData.Getlinks())
                    {
                        if (!lk.Hidden)
                        {
                            <div class="w3-padding-small w3-border-bottom">
                                <a target="_blank" href="@lk.Url" target="@lk.Target">@lk.Name</a>
                            </div>
                        }
                    }
                </div>
                <div class="w3-half w3-margin-bottom">
                    @if (articleData.GetDocList().Count > 0)
                    {
                        <div class="w3-large w3-margin-bottom">@ButtonIcon(ButtonTypes.download)&nbsp;@ResourceKey("DNNrocket.documents")</div>
                    }
                    @foreach (var doc in articleData.GetDocs())
                    {
                        if (!doc.Hidden)
                        {
                            <a target="_blank" href="/@doc.RelPath.TrimStart('/')">
                                <div class="w3-button w3-theme-l5 w3-text-dark-grey w3-border w3-border-light-grey w3-round-xlarge w3-block w3-left-align rocket-document w3-margin-bottom w3-hover-white">
                                    @doc.Name
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>

            <div id="rocket-sharrre" class="w3-row w3-xlarge w3-margin-bottom"></div>

            <div class="w3-margin-top">
                <a href="@(listRtnUrl + "#rocketnewsdisplay")" onclick="$('.simplisity_loader').show();" class="w3-button w3-theme-l5 w3-text-dark-grey w3-border w3-border-light-grey w3-round-xlarge w3-hover-white backlink">@ButtonIconText(ButtonTypes.back)</a>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        news_sharrre('@DetailUrl(moduleData.DetailPageTabId(), articleData, categoryData)', 'w3-padding w3-button')
    });
</script>

