@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->

<div class="rocket-filters">
    @foreach (var g in moduleData.GetPropertyModuleGroups(catalogSettings))
    {
        <div class="rocket-filtergroup">@g.Value</div>
        foreach (var p in propertyDataList.GetPropertyFilterList(g.Key))
        {
            <div class="rocket-filterlist">
                @FilterCheckBox(p.Key, p.Value, "#rocket-news", sessionParams.Info.GetXmlPropertyBool("r/" + p.Key))
            </div>
        }
    }

</div>

@FilterJsApiCall(moduleData.SystemKey, sessionParams)
