@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
    var info = moduleDataInfo;
    //NOTE: xPath for module settings must use "genxml/settings/*"
}
@{
    var groupDict = catalogSettings.GetPropertyGroups();
}

<div class='w3-row'>
    <div class="w3-quarter w3-padding">
        <label>@ResourceKey("DNNrocket.pagesize")</label>
        @DropDownList(info, "genxml/settings/pagesize", "12,24,48,96", "12,24,48,96", " style='height:40px;' class='w3-input w3-border simplisity_sessionfield ' onchange=\"doSearchReload();return false;\" title='" + @ResourceKey("DNNrocket.pagesize", sessionParams.CultureCode) + "'", "24")
    </div>
    <div class="w3-quarter w3-padding">
        <label>@ResourceKey("DNNrocket.itemlimit")</label>
        @TextBox(info, "genxml/settings/itemlimit", " class='w3-input w3-border' ", "1")
    </div>
</div>

<div class="w3-row  w3-padding">
    <div class="w3-row">
        <div class='w3-row w3-padding'>
            <div class="w3-large w3-margin-bottom">@ResourceKey("RC.propertygroups")</div>
            @foreach (var p in groupDict)
            {
                <span class="w3-padding">
                    @FilterGroupCheckBox(info, p.Key, p.Value)
                </span>
            }
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
    });

</script>
