@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@{ 
    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata"); ;
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var moduleSettings = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var categoryData = (CategoryLimpet)Model.GetDataObject("categorydata");
}

@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerceAPI/App_LocalResources/")

<!--inject-->

<h1>
    @if (!categoryData.Exists)
    {
<span>@companyData.CompanyName</span> }
            else
            {
<span>@categoryData.Name</span>}
</h1>

<div class="w3-row">
    <div class="w3-threequarter">
        <div class="w3-row">
            @RenderTemplate("SearchBanner.cshtml", appThemeDefault, Model, true)
            @foreach (ProductLimpet productData2 in productDataList.GetArticleList())
            {

                <div class="w3-col s12 m6 l3 w3-padding w3-center">
                    <a href="@DetailUrl(moduleSettings.DetailPageTabId(), productData2, categoryData)" class="" title="@productData2.Name" onclick="$('.simplisity_loader').show();">                       
                        <img class="sliderind@(moduleSettings.ModuleRef)" src="@ImageUrl(productData2.DefaultImageUrl(),200,200)" style="width:100%;">
                    </a>
                    <div class="w3-row w3-padding w3-center">

                        @if (productData2.SalePriceMinimumCents > 0)
                        {
                            <div class="">
                                <span class="">@productData2.SalePriceMinimumDisplay()</span>
                                <span style="text-decoration:line-through;" class="w3-small">@productData2.PriceMinimumDisplay()</span>
                            </div>
                        }
                        else
                        {
                            <div class="">@productData2.PriceMinimumDisplay()</div>
                        }

                    </div>
                    <div class="w3-padding" style="height:80px;overflow:hidden;">
                        <a href="@DetailUrl(moduleSettings.DetailPageTabId(), productData2, categoryData)" class="" title="@productData2.Name" onclick="$('.simplisity_loader').show();">
                            @productData2.Name
                        </a>
                    </div>
                </div>

            }
        </div>
        @RenderTemplate("ProductPaging.cshtml", appThemeDefault, Model, true)
    </div>
    <div class="w3-quarter">

        <div id="minicartdisplay" class="productlistcart">

            <div class="minicartdisplay">
                <h3>@ResourceKey("RE.cart", sessionParams.CultureCode)</h3>
                <div class="w3-border-bottom w3-margin-bottom ">
                    <div>@ResourceKey("RE.items", sessionParams.CultureCode)&nbsp;:&nbsp;
                        <span id="a-cartqty">&nbsp;</span>    
                        <span class="w3-right"><strong><span id="a-carttotal">&nbsp;</span></strong></span>
                    </div>
                </div>
                <a id="cartdisplay" class="w3-button w3-light-grey simplisity_click " s-cmdurl="@(portalShop.ApiUrl)" s-before="clearMiniCartJson" s-return="#ecommerce-tag" s-cmd="rocketecommerceapi_cartlist" s-fields='{"template":"cartlist.cshtml","moduleref":"@(moduleSettings.ModuleRef)"}'>@MaterialIcon("shopping_cart")&nbsp;@(ResourceKey("RE.viewcart", sessionParams.CultureCode))</a>
            </div>

        </div>
        <div class="productlistcat">
            @if (categoryDataList.DataList.Count > 0)
            {
                @RenderTemplate("CategorySideMenu.cshtml", appTheme, Model)                
            }
        </div>
    </div>
</div>

