@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerceAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@{
    var appTheme = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var productData = (ProductLimpet)Model.GetDataObject("productdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
}

<!-- !PAGE CONTENT! -->
<div id="ecommerce-tag" class="ecommerce-container">
    @if (portalShop.DebugMode)
    {
        <div class="w3-tiny">DEBUG MODE: @DateTime.Now.ToString()</div>
    }
    @{ 
        if (productData != null)
        {
        @RenderTemplate("ProductDetail.cshtml", appTheme, Model, true) 
        }
        else
        {
        @RenderTemplate("ProductList.cshtml", appTheme, Model, true) 
        } 
     }
</div>
<div class="simplisity_loader" style="display:none;">
    <span class=" simplisity_loader_inner">
    </span>
</div>
<script>
    $(document).ready(function () {
        // get minicart to avoid cache problem with wrong amount.
        var jsonText = window.sessionStorage.getItem('MiniCartTotals');
        if ((typeof jsonText == 'undefined') || jsonText == '' || jsonText == null)
            simplisity_requestjson('@(portalShop.ApiUrl)', 'rocketecommerceapi_minicartjson', '', 'MiniCartTotals', '{"moduleref":"@(sessionParams.ModuleRef)","browserid":"@(sessionParams.BrowserId)"}', 'afterMiniCartJson');
        else
            afterMiniCartJson();

        $('#ecommerce-tag').activateSimplisityPanel();
        $('#simplisity_loader').hide();
    });
    function afterMiniCartJson() {
        try {
            var jsonText = window.sessionStorage.getItem('MiniCartTotals');
            var jsonstr = simplisity_parsejson(jsonText);
            $('#a-cartqty').text(jsonstr.qty);
            $('#a-carttotal').text(jsonstr.subtotal);        
        }
        catch (e) {
        }
    }
    function clearMiniCartJson()
    {
        window.sessionStorage.setItem('MiniCartTotals', '');
    }
</script>

