@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
<!-- require Key for saving -->
@RowKey(rowData)

<div class='w3-row'>
    <div id="heading" class='w3-row sectionname'>
        <div class='w3-row w3-margin-top'>
            <div class='w3-col m10 w3-padding' style='min-width: 200px;'>
                <label>@ResourceKey("DNNrocket.question")</label>		&nbsp;@EditFlag(sessionParams)
                @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' autocomplete='off'", "", false, 0)
            </div>
            <div class='w3-col m2 w3-padding'>
                <label>@ResourceKey("DNNrocket.open")</label><br/>
                @CheckBox(info, "genxml/checkbox/defaultopen",""," class='w3-check' ")
            </div>
            <div class='w3-col m12 w3-padding'>
                <label>@ResourceKey("DNNrocket.answer")</label>
                @EditFlag(sessionParams)
                <div class='w3-col m12'>
                    @CKEditor4(info, "genxml/lang/genxml/textbox/richtext", true)
                </div>
                <div class='w3-col' style='width:0px;height:600px;'></div>
            </div>
        </div>
    </div>
</div>
