@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="@moduleData.GetSetting("cssclass")">

    <div class="faqwrapper">
    [INJECT:appthemesystem,ArticleHeaderView.cshtml]
    <div class="faq">
        @foreach (var articleRowData in articleData.GetRows())
        {
            var contentId = "content" + articleRowData.RowKey + sessionParams.ModuleId;
            var rowData = articleRowData.Info;
            var defaultOpenClass = "";
            var defaultOpenStyle = "display:none;";
            if (articleRowData.GetBool("genxml/checkbox/defaultopen"))
            {
                defaultOpenClass = " accordion-active a-active" + sessionParams.ModuleId;
                defaultOpenStyle = "";
            }
            <div class="accordion-item">
                    <div class="accordion-header" onclick="slideAccordionFAQ('@(contentId)','@(sessionParams.ModuleId)')" style="cursor:pointer;">
                        <h4>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</h4>
                    </div>
                    <div id="@(contentId)" class="accordion-content @(defaultOpenClass)" style="@(defaultOpenStyle)">@HtmlOf(rowData.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))</div>
            </div>
        }
    </div>

    </div>

</div>
