@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
<!-- require Key for saving -->
@RowKey(rowData)

<div class='w3-row w3-padding'>
    <div class='w3-col m12 w3-padding'>
        <div class='w3-right'>
            @CheckBox(info, "genxml/checkbox/hiderow", "&nbsp;" + ResourceKey("DNNrocket.hide").ToString(), "class='w3-check' ", false, false, 0)
        </div>
    </div>
</div>

<div class="w3-row">
    <div class="w3-col">
        <label>@ResourceKey("DNNrocket.title")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@DeepL("title", "title")
        @TextBox(info, "genxml/lang/genxml/textbox/title", "class='w3-input w3-border w3-margin-bottom' autocomplete='off' MaxLength='200'", "", false)
    </div>
</div>

<div class="w3-row">
    <div class="w3-col">
        <label>@ResourceKey("DNNrocket.content")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@ChatGPT("content")&nbsp;@DeepL("content", "content")
        @TextArea(info, "genxml/lang/genxml/textbox/content", " rows='4' class='w3-input w3-border' autocomplete='off' ", "", false, 0)
    </div>
</div>

<div class="w3-row w3-border w3-round w3-margin-bottom  w3-margin-top">
    [INJECT:appthemesystem,ArticleLink.cshtml]
</div>
<div class="w3-row w3-border w3-round w3-margin-bottom  w3-margin-top">
    [INJECT:appthemesystem,ArticleImage.cshtml]
</div>
<div class="w3-quarter w3-padding">
    <label>Text Color</label><br />
    @DropDownList(info, "genxml/select/textcolor", W3Utils.W3textcolors(), "class='w3-input w3-border' ", "w3-text-black")
</div>
