@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var height = moduleData.GetSettingInt("height");
    var stylepadding = StylePadding();
}

<div class="containerouter @(moduleData.GetSetting("cssclass"))">
    <div class="w3-section containerinner " style="@(stylepadding)">
        <div class="w3-display-container w3-center containerinner citationcontainer" style="height:@(height)px;">
            @foreach (var articleRowData in articleData.GetRows())
            {
                var articleImage = articleRowData.GetImage(0);
                var linkData = articleRowData.Getlink(0);
                if (!articleRowData.GetBool("genxml/checkbox/hiderow"))
                {
                    if (articleImage.RelPath != "")
                    {
                        <img src="@ImageUrl(articleImage.RelPath, 1200, height)" style="width:100%;height:@(height)px;" />
                    }
                    <div class="w3-display-middle w3-padding @articleRowData.Get("genxml/select/textcolor")">
                        <div class="@moduleData.GetSetting("titlesize")">@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</div>
                        <hr />
                        <div class="w3-margin @moduleData.GetSetting("contentsize")">@BreakOf(rowData, "genxml/lang/genxml/textbox/content")</div>
                        @if (!linkData.Hidden && !linkData.IsDisabled)
                        {
                            <a class="w3-button w3-theme-action w3-round citationlink" href="@(linkData.Url)" target="@(linkData.Target)">@linkData.Name</a>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

