@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<!-- require Key for saving -->
@RowKey(info)

<div class='w3-row w3-margin-top' >
    <div class='w3-col m12 w3-padding' style='min-width:200px;'>
        <label>@ResourceKey("DNNrocket.heading")</label>&nbsp;@EditFlag(sessionParams)
        @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
    </div>
    <div class='w3-col m12 w3-padding' style='min-width:200px;'>
        <label>@ResourceKey("DNNrocket.summary")</label>&nbsp;@EditFlag(sessionParams)&nbsp;@ChatGPT("text", "title")&nbsp;@DeepL("text")
        @TextArea(info, "genxml/lang/genxml/textbox/text", "class='w3-input w3-border' rows='8' autocomplete='off'", "", true, 0)
    </div>
</div>

<label>@ResourceKey("DNNrocket.images")</label>
<div class='w3-row w3-margin-top'>
    [INJECT:appthemesystem,ArticleImages.cshtml]
</div>
