@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@AssignDataModel(Model)
<!--inject-->
@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")

<div class="pl-breadcrumb">
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue " onclick="simplisity_setCookieValue('adminpanelcmd','');window.location.reload();">@ResourceKey("DNNrocket.services")</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue simplisity_click" s-cmd="articleadmin_editlist" s-fields='{"track":"true"}'>@ResourceKey("RC.articles")</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue a-reloadpage simplisity_click" s-cmd="articleadmin_editarticle" s-fields='{"track":"true","articleid":"@articleData.ArticleId"}'>@articleData.Name</div>
</div>


<div id="articleedit">

    <div id="articleeditcontent" class='w3-animate-opacity w3-card w3-padding w3-margin w3-white '>

        [INJECT:appthemedirectory,editbuttonbar.cshtml]

        <div id="articledatasection" class="">
            <div class='w3-row'>

                <div class='w3-row'>
                    <div class="w3-col m1 w3-padding">
                        <label>@ResourceKey("RC.ref")</label>
                        @TextBox(info, articleData.RefXPath, " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                    </div>
                    <div class="w3-col m11 w3-padding">
                        <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                        @TextBox(info, articleData.NameXPath, " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                    </div>
                </div>

                <div class="w3-padding">
                    <div class="w3-bar w3-margin-top w3-theme-l4">
                        <div class="w3-bar-item w3-button w3-button w3-border-right w3-bottombar tablink generaltabtablink" onclick="openSection('generaltab')">@ResourceKey("RC.description")</div>
                        <div class="w3-bar-item w3-button tablink w3-border-right categoriestabtablink" onclick="openSection('categoriestab')">@ResourceKey("RC.categories")</div>
                        <div class="w3-bar-item w3-button tablink w3-border-right propertytabtablink" onclick="openSection('propertytab')">@ResourceKey("RC.property")</div>
                        <div class="w3-bar-item w3-button tablink w3-border-right imgstablink" onclick="openSection('imgs')">@ResourceKey("DNNrocket.images")</div>
                        <div class="w3-bar-item w3-button tablink w3-border-right docstablink" onclick="openSection('docs')">@ResourceKey("DNNrocket.docs")</div>
                        <div class="w3-bar-item w3-button tablink w3-border-right linkstablink" onclick="openSection('links')">@ResourceKey("DNNrocket.links")</div>
                        <div class="w3-bar-item w3-button tablink nurturancetablink" onclick="openSection('nurturance')">@ResourceKey("ProductsFood.nurturance")</div>
                    </div>
                </div>


                <div class="w3-padding">

                    <div id="generaltab" class='w3-row sectionname a-articlecategorylist' >

                        <div class=" w3-row w3-padding">
                            <label>@ResourceKey("RC.summary")</label>&nbsp;@EditFlag(sessionParams)
                            @TextArea(info, articleData.SummaryXPath, " class='w3-input w3-border' rows='8' autocomplete='off' ", "", true, 0)
                        </div>

                        <div class='w3-row'>
                            <div class="w3-quarter w3-padding">
                                @CheckBox(info, articleData.HiddenXPath, "&nbsp;" + ResourceKey("RC.hidden"), " class='w3-check' ")
                            </div>
                            <div class="w3-quarter w3-padding">
                                @CheckBox(info, articleData.HiddenByCultureXPath, "&nbsp;" + ResourceKey("RC.hidden") + "&nbsp;" + EditFlag(sessionParams), " class='w3-check' ")
                            </div>
                        </div>

                        <div class="w3-row w3-padding">
                            @CKEditor4(info, "genxml/lang/genxml/textbox/richtext", true)
                        </div>

                    </div>
                    <div id="categoriestab" class='w3-row sectionname a-articlecategorylist' style="display:none">                       
                        [INJECT:appthemesystem,ArticleCategoryList.cshtml]
                    </div>
                    <div id="propertytab" class='w3-row sectionname a-articlepropertylist' style="display:none">
                        [INJECT:appthemesystem,ArticlePropertyList.cshtml]
                    </div>
                    <div id="imgs" class='w3-row sectionname' style="display:none">
                        [INJECT:appthemesystem,Articleimages.cshtml]
                    </div>
                    <div id="docs" class='w3-row sectionname' style="display:none">
                        [INJECT:appthemesystem,ArticleDocuments.cshtml]
                    </div>
                    <div id="links" class='w3-row sectionname' style="display:none">
                        [INJECT:appthemesystem,ArticleLinks.cshtml]
                    </div>
                    <div id="nurturance" class='w3-row sectionname' style="display:none">
                        [INJECT:apptheme,Nurturance.cshtml]
                    </div>

                </div>
            </div>
        </div>



        <div class="w3-padding">
            @if (UserUtils.IsInRole("Administrator"))
            {
<div class="w3-container">
    <div class="w3-right">
        @RenderXml(info)
    </div>
</div>            }
            <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
        </div>

    </div>

</div>

<script>
    $(document).ready(function () { 
        var sectionName = simplisity_getCookieValue('sectionName');
        if ((typeof sectionName === 'undefined') || sectionName === '') {
            sectionName = 'generaltab';
        }
        openSection(sectionName);
    });


    function openSection(sectionName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("sectionname");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        $(".tablink").each(function (index) {
            $(this).removeClass('w3-bottombar');
        });

        document.getElementById(sectionName).style.display = "block";

        $('.' + sectionName + 'tablink').addClass('w3-bottombar');

        simplisity_setCookieValue('sectionName', sectionName);
    }

</script>
