@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var articleList = articleDataList.GetArticleList();
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var paddingClass = moduleData.GetSetting("padding");
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
    var imageHeight = height;
    if (imageHeight <= 0)
    {
        imageHeight = 320;
    }
    Model.SetSetting("pagesizelist", "6,12,24,48");
}

<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))" style="padding-right:8px;padding-left:8px;padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    <div class="w3-section containerinner">

        <div class="w3-panel w3-theme-l5 w3-round-large w3-padding w3-border">
            @if (!categoryData.Exists)
            {
                <h1 class="w3-margin-0">@portalData.Name</h1>
            }
            else
            {
                <h1 class="w3-margin-0">@categoryData.Name</h1>
            }
        </div>

        [INJECT:appthemedirectorydefault,SearchBanner.cshtml]

        @if (articleList.Count > 0)
        {
            <div class="w3-row w3-small w3-margin-bottom">
                <div class="w3-col s12">
                    <a href="@RssUrl(portalData.PortalId,"rocketproductsapi_rss", DateTime.Now.AddMonths(-11).Year, DateTime.Now.AddMonths(-11).Month, 12,"publisheddate")" target="_blank" class="w3-button w3-theme-l5 w3-text-dark-grey w3-border w3-border-light-grey w3-round-xlarge w3-hover-white">
                        <span class="material-icons" style="vertical-align:middle;">rss_feed</span>
                        <span style="vertical-align:middle;">RSS</span>
                    </a>
                </div>
            </div>

            <div class="w3-row" style="display:flex;flex-wrap:wrap;align-items:stretch;">
                @foreach (var article in articleList)
                {
                    var info = article.Info;
                    var articleImage = article.GetImage(0);
                    var detailUrl = DetailUrl(moduleData.DetailPageTabId(), article, categoryData, new string[] { "page", sessionParams.Page.ToString() });

                    <div class="w3-col l4 m6 s12 w3-margin-bottom" style="float:none;display:flex;padding-left:8px;padding-right:8px;box-sizing:border-box;">
                        <div class="w3-card w3-white w3-round-large w3-border w3-hover-shadow" style="height:100%;width:100%;overflow:hidden;display:flex;flex-direction:column;">
                            <div class="w3-display-container w3-theme-l5" style="overflow:hidden;">
                                <a href="@detailUrl" onclick="$('.simplisity_loader').show();" title="@article.Name" class="w3-display-container" style="text-decoration:none;display:block;">
                                    @if (articleImage.RelPath != "" && moduleData.GetSettingBool("showimage"))
                                    {
                                        <img class="w3-image @(moduleData.GetSetting("opacity"))" src="@ImageUrl(articleImage.RelPath, width, imageHeight)" alt="@article.Name" style="width:100%;height:@(imageHeight)px;object-fit:cover;display:block;" />
                                    }
                                    else
                                    {
                                        <div class="w3-display-container w3-light-grey w3-center" style="height:@(imageHeight)px;">
                                            <span class="material-icons w3-display-middle w3-jumbo w3-text-grey">inventory_2</span>
                                        </div>
                                    }
                                </a>
                            </div>
                            <div class="w3-container w3-padding" style="display:flex;flex-direction:column;flex:1;">
                                [INJECT:appthemeview,layouttext.cshtml]
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="w3-row w3-padding-16 w3-center">
                [INJECT:appthemedirectorydefault,articlePaging.cshtml]
            </div>
        }
        else
        {
            <div class="w3-card w3-white w3-round-large w3-border w3-padding w3-center">
                <div class="w3-theme-l5 w3-round-large w3-padding">
                    <div class="material-icons w3-xxlarge w3-text-theme" style="line-height:1;">article</div>
                    <div class="w3-large w3-margin-top"><b>@ResourceKey("DNNrocket.notfound")</b></div>
                </div>
            </div>
        }

    </div>
</div>
