@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using System.Xml.Linq
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

<!--inject-->
@if (!String.IsNullOrEmpty(article.Name))
{
    <h3 class="@moduleData.GetSetting("titlesize") w3-margin-top w3-margin-bottom" style="line-height:1.25;">
        <a href="@detailUrl" onclick="$('.simplisity_loader').show();" class="w3-text-theme" style="text-decoration:none;" title="@article.Name">@article.Name</a>
    </h3>
}

@if (article.BestPriceCents > 0)
{
<div class="w3-large w3-text-theme w3-margin-bottom">
    <b>@article.BestPriceDisplay</b>
</div>
}

@if (!String.IsNullOrEmpty(article.Summary))
{
    <div class="@moduleData.GetSetting("textsize") w3-text-grey w3-margin-bottom" style="min-height:72px;flex:1;">
        @BreakOf(article.Summary)
    </div>
}
else
{
    <div style="flex:1;"></div>
}

<div class="w3-padding-bottom" style="margin-top:auto;">
    <a href="@detailUrl" onclick="$('.simplisity_loader').show();" class="w3-button w3-block w3-theme-action w3-border w3-round-large" title="@article.Name">
        <b>@ResourceKey("ProductsFood.readmore")</b>
    </a>
</div>


