@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)

@{
    var rtnUrl = sessionParams.Get(portalContent.SystemKey + "listurl");
    if (rtnUrl == "")
    {
        rtnUrl = DNNrocketUtils.NavigateURL(moduleData.ListPageTabId());
    }
}
<!--inject-->

<div class="w3-row">
    <a href="@(rtnUrl)" class="w3-button" style="float:right;" title="@articleData.Name">@ButtonText(ButtonTypes.back, sessionParams.CultureCode)</a>

    <h1>@articleData.Name</h1>
    <div class="w3-animate-opacity">


        <div class="w3-row w3-center">
                <img class="imgrollovertarget" alt="@articleData.Name" src="@ImageUrl(articleData.GetImage(0).RelPath,450,450)" style="width:60%">
            <div class="w3-container">
                @foreach (var i in articleData.GetImages())
                {
                    <div class="w3-col s6 m4 l2 w3-padding-small" style="margin-bottom: 8px">
                        <img class="imgrollover" src="@ImageUrl(i.RelPath,450,450)" style="width:100%">
                    </div>                        
                }
            </div>
        </div>
        <div class="w3-row w3-padding">
            @BreakOf(articleData.Summary)
        </div>
        <div class="w3-row w3-padding">
            @HtmlOf(articleData.RichText)
        </div>

        @if (articleData.GetLinkList().Count() > 0)
        {
            <div class="w3-row w3-padding">
                @foreach (var linkData in articleData.Getlinks())
                {
                    if (!linkData.Hidden)
                    {
                        <div><a href="@(linkData.Url)" target="@(linkData.Target)">@linkData.Name</a></div>
                    }
                }
            </div>
        }
        @if (articleData.GetDocList().Count() > 0)
        {
            <div class="w3-row w3-padding">
                @foreach (ArticleDoc documentData in articleData.GetDocs())
                {
                    if (!documentData.Hidden)
                    {
                        <div><a href="@(documentData.RelPath)" target="_blank">@documentData.Name</a></div>
                    }
                }
            </div>
        }

        <div class="w3-row">
            <h3>Informations</h3>

            <table class="w3-table">
                <tbody>
                    <tr>
                        <th>Provenance</th>
                        <th>Type</th>
                        <th>Lait</th>
                        <th>mg/ms</th>
                        <th>mg/pds </th>
                        <th>Sel env.</th>
                        <th>Présure</th>
                        <th>Affinage</th>
                    </tr>
                    <tr>
                        <td>@info.GetXmlProperty("genxml/select/orgin")</td>
                        <td>@info.GetXmlProperty("genxml/select/animal")</td>
                        <td>@info.GetXmlProperty("genxml/select/milk")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/mgms")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/mgpds")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/salt")</td>
                        <td>@info.GetXmlProperty("genxml/select/rennet")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/refining") @info.GetXmlProperty("genxml/select/refiningunit")</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>

<script>

    $(document).ready(function () {

        $('.imgrollover').unbind("mouseover");
        $(".imgrollover").mouseover(function () {
            $('.imgrollovertarget').attr('src', $(this).attr('src'));
        });
        $('.simplisity_loader').hide();
    });

</script>
