@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)

@{
    var rtnUrl = sessionParams.Get(portalContent.SystemKey + "listurl");
    if (rtnUrl == "")
    {
        rtnUrl = DNNrocketUtils.NavigateURL(moduleData.ListPageTabId());
    }
}
<!--inject-->

<div class="w3-row">
    <a href="@(rtnUrl)" class="w3-button" style="float:right;" title="@articleData.Name">@ButtonText(ButtonTypes.back, sessionParams.CultureCode)</a>

    <h1>@articleData.Name</h1>
    <div class="w3-animate-opacity">

        <div class="w3-row w3-center">
                <img class="imgrollovertarget" alt="@articleData.Name" src="@ImageUrl(articleData.GetImage(0).RelPath,450,450)" style="width:60%">
            <div class="w3-container">
                @foreach (var i in articleData.GetImages())
                {
                    <div class="w3-col s6 m4 l2 w3-padding-small" style="margin-bottom: 8px">
                        <img class="imgrollover" src="@ImageUrl(i.RelPath,450,450)" style="width:100%">
                    </div>                        
                }
            </div>
        </div>
        <div class="w3-row w3-padding">
            @BreakOf(articleData.Summary)
        </div>
        <div class="w3-row w3-padding">
            @HtmlOf(articleData.RichText)
        </div>

        <div class="w3-row">
            <h3>@ResourceKey("RC.models")</h3>
            <table class="w3-table">
                <tbody>
                    <tr>
                        <th>@ResourceKey("DNNrocket.ref")</th>
                        <th>@ResourceKey("DNNrocket.name")</th>
                        <th>@ResourceKey("RC.barcode")</th>
                    </tr>
                    @foreach (ArticleModel m in articleData.GetModels())
                    {
                        <tr>
                            <td>@m.Ref</td>
                            <td>@m.Name</td>
                            <td>@m.BarCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="w3-row">
            <h3>@ResourceKey("ProductsFood.information")</h3>

            <table class="w3-table">
                <tbody>
                    <tr>
                        <th>@ResourceKey("ProductsFood.origin")</th>
                        <th>@ResourceKey("ProductsFood.type")</th>
                        <th>@ResourceKey("ProductsFood.milk")</th>
                        <th>@ResourceKey("ProductsFood.mgms")</th>
                        <th>@ResourceKey("ProductsFood.mgpds")</th>
                        <th>@ResourceKey("ProductsFood.salt")</th>
                        <th>@ResourceKey("ProductsFood.rennet")</th>
                        <th>@ResourceKey("ProductsFood.refining")</th>
                    </tr>
                    <tr>
                        <td>@info.GetXmlProperty("genxml/select/orgin")</td>
                        <td>@info.GetXmlProperty("genxml/select/animal")</td>
                        <td>@info.GetXmlProperty("genxml/select/milk")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/mgms")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/mgpds")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/salt")</td>
                        <td>@info.GetXmlProperty("genxml/select/rennet")</td>
                        <td>@info.GetXmlProperty("genxml/textbox/refining") @info.GetXmlProperty("genxml/select/refiningunit")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="w3-table">
            <tbody>
            <tr>
                    <th>@ResourceKey("ProductsFood.ediblecrust")</th>
                    <th>@ResourceKey("ProductsFood.otherinformation")</th>
                    <th>@ResourceKey("ProductsFood.packaging")</th>
            </tr>
            <tr>
                <td>@info.GetXmlProperty("genxml/select/ediblecrust")</td>
                <td>
                    @BreakOf(info, "genxml/textbox/otherinformation")
                        @if (info.GetXmlPropertyBool("genxml/checkbox/bacteriaculture"))
                    {
                            <div class="extrainfo">@ResourceKey("ProductsFood.bacteriaculture")</div>
                    }
                        @if (info.GetXmlPropertyBool("genxml/checkbox/haymilk"))
                    {
                            <div class="extrainfo">@ResourceKey("ProductsFood.haymilk")</div>
                    }
                        @if (info.GetXmlPropertyBool("genxml/checkbox/silagefree"))
                    {
                            <div class="extrainfo">@ResourceKey("ProductsFood.silagefree")</div>
                    }
                        @if (info.GetXmlPropertyBool("genxml/checkbox/naturallylactosefree"))
                    {
                            <div class="extrainfo">@ResourceKey("ProductsFood.naturallylactosefree")</div>
                    }
                        @if (info.GetXmlPropertyBool("genxml/checkbox/microbialrennet"))
                    {
                            <div class="extrainfo">@ResourceKey("ProductsFood.microbialrennet")</div>
                    }
                </td>
                    <td>@info.GetXmlProperty("genxml/textbox/packaging")</td>
            </tr>
        </tbody>
    </table>

        @if (info.GetXmlPropertyBool("genxml/checkbox/sensorycharacteristics"))
			{
			<!-- Caractéristiques sensorielles  -->
            <h4>@ResourceKey("ProductsFood.sensorycharacteristics")</h4>
                    <div>
                <table class="w3-table">
                    <tbody>
                        @if (info.GetXmlProperty("genxml/textbox/appearanceexterior") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.appearanceexterior")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/appearanceexterior")</td>
								</tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/appearanceinterior") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.appearanceinterior")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/appearanceinterior")</td>
								</tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/consistency") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.consistency")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/consistency")</td>
								</tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/odor") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.odor")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/odor")</td>
								</tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/taste") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.taste")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/taste")</td>
								</tr>
                }
                            </tbody>
                        </table>
                    </div>
			}

        @if (info.GetXmlPropertyBool("genxml/checkbox/nutritionalinformation"))
			{
			<!-- Informations nutritionnelles -->
            <h4>@ResourceKey("ProductsFood.nutritionalinformation")</h4>
                    <div>
                <table class="w3-table">
                    <tbody>
                        @if (info.GetXmlProperty("genxml/textbox/energyvaluekj") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.energyvaluekj")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/energyvaluekj")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/energyvaluecal") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.energyvaluecal")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/energyvaluecal")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/fatg") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.fatg")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/fatg")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/ofwhichfattyacids") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.ofwhichfattyacids")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/ofwhichfattyacids")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/carbohydrates") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.carbohydrates")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/carbohydrates")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/ofwhichsugars") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.ofwhichsugars")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/ofwhichsugars")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/proteing") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.proteing")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/proteing")</td>
                            </tr>
                }
                        @if (info.GetXmlProperty("genxml/textbox/fibreg") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.fibreg")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/fibreg")</td>
                            </tr>
                }
                @if (info.GetXmlProperty("genxml/textbox/sel") != "")
                {
								<tr>
                                <td>@ResourceKey("ProductsFood.saltg")</td>
                                <td>@info.GetXmlProperty("genxml/textbox/saltg")</td>
                            </tr>
                }
                            </tbody>
                        </table>
                    </div>
			}

        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens"))
			{
			<!-- Allergènes -->
            <h4>@ResourceKey("ProductsFood.allergens")</h4>
                    <div>
                <table class="w3-table">
                    <tbody>
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens1"))
                        {
				<tr>
                    <td>@ResourceKey("ProductsFood.1")</td>
				</tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens2"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.2")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens3"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.3")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens4"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.4")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens5"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.5")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens6"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.6")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens7"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.7")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens8"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.8")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens9"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.9")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens10"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.10")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens11"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.11")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens12"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.12")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens13"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.13")</td>
                            </tr>
				}
                        @if (info.GetXmlPropertyBool("genxml/checkbox/allergens14"))
                        {
				<tr>
                                <td>@ResourceKey("ProductsFood.14")</td>
                            </tr>
				}
                            </tbody>
                        </table>
                    </div>
			}

            <hr/>

    @if (articleData.GetLinkList().Count() > 0)
    {
        <div class="w3-row w3-padding">
            @foreach (var linkData in articleData.Getlinks())
            {
                if (!linkData.Hidden)
                {
                    <div><a href="@(linkData.Url)" target="@(linkData.Target)">@linkData.Name</a></div>
                }
            }
        </div>
    }
    @if (articleData.GetDocList().Count() > 0)
    {
        <div class="w3-row w3-padding">
            @foreach (ArticleDoc documentData in articleData.GetDocs())
            {
                if (!documentData.Hidden)
                {
                    <div><a href="@(documentData.RelPath)" target="_blank">@documentData.Name</a></div>
                }
            }
        </div>
    }



    </div>
</div>

<script>

    $(document).ready(function () {

        $('.imgrollover').unbind("mouseover");
        $(".imgrollover").mouseover(function () {
            $('.imgrollovertarget').attr('src', $(this).attr('src'));
        });
        $('.simplisity_loader').hide();
    });

</script>
