@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssignDataModel(Model)
@AddProcessDataResx(appThemeAdmin, true)
<!--inject-->
@{
    var info = moduleDataInfo;
    //NOTE: xPath for module settings must use "genxml/settings/*"
}

@{
    var articleImage = articleRowData.GetImage(0);
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var crop = moduleData.GetSetting("crop");
    if (crop == "")
    {
        crop = "center";
    }
    var heightDisplay = "";
    var cssclass = moduleData.GetSetting("cssclass");
    if (cssclass == "")
    {
        heightDisplay = "max-height:" + height + "px;";
    }
}
<div class="heroheaderouter @(cssclass)" style="@(heightDisplay)">
	<div class="heroheaderinner">
		<div class="heroheaderimage w3-display-container" style="background:url('@ImageUrl(articleImage.RelPath, width, height, "", "")') center @(crop) no-repeat;background-size: cover;position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
			<div class="heroheaderbackground">
				<div class="heroheadertitle w3-center @moduleData.GetSetting("titlepos") @moduleData.GetSetting("titlecolor")">
					@if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
					{
						<@moduleData.GetSetting("titlehead1")>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</@moduleData.GetSetting("titlehead1")>
					}
					@if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/text") != "")
					{
					   <@moduleData.GetSetting("titlehead2")>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/text")</@moduleData.GetSetting("titlehead2")>
					}
				</div>
				@if (rowData.GetXmlProperty("genxml/lang/genxml/textbox/quicktext") != "")
				{
					<div class="heroheaderquicktext w3-padding @moduleData.GetSetting("quicktextpos") @moduleData.GetSetting("quicktextsize") @moduleData.GetSetting("quicktextcolor") " style="width:@moduleData.GetSetting("quicktextwidth")">
						@BreakOf(rowData.GetXmlProperty("genxml/lang/genxml/textbox/quicktext"))
					</div>
				}
		</div>
		</div>
	</div>
</div>
