@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
<!-- require Key for saving -->
@RowKey(info)

<div class='w3-row w3-padding'>

    <div class="w3-bar" style="cursor:pointer;">
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink headingtablink" onclick="openSection('heading')">@ResourceKey("DNNrocket.heading")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink svgtablink" onclick="openSection('svg')">@ResourceKey("DNNrocket.svgCode")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink linkstablink" onclick="openSection('links')">@ResourceKey("DNNrocket.link")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink advancedtablink" onclick="openSection('advanced')">@ResourceKey("DNNrocket.advanced")</div>
    </div>

    <div id="heading" class='w3-row sectionname'>
        <div class='w3-row w3-margin-top'>
            <div class='w3-col m12 w3-padding' style='min-width: 200px;'>
                <label>@ResourceKey("DNNrocket.heading")</label>		&nbsp;@EditFlag(sessionParams)
                @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
        </div>
        <div class='w3-row w3-margin-top'>
            <div class='w3-col m12 w3-padding' style='min-width: 200px;'>
                <label>@ResourceKey("DNNrocket.content")</label>		&nbsp;@EditFlag(sessionParams)
                @TextArea(info, "genxml/lang/genxml/textbox/resume", " rows='4' class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
        </div>
    </div>

    <div id="svg" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            <div class='w3-col m12'>
                <label>@ResourceKey("DNNrocket.svgCode")</label>
                @TextArea(info, "genxml/textbox/svgcode", " rows='20' class='w3-input w3-border' autocomplete='off' ", "", false, 0)
            </div>
            <div class='w3-col' style='width:0px;height:600px;'></div>
        </div>
    </div>

    <div id="links" class='w3-row w3-margin-top sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            [INJECT:appthemesystem,ArticleLink.cshtml]
        </div>
    </div>

    <div id="advanced" class='w3-row w3-margin-top sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            <label>@ResourceKey("DNNrocket.cssClass")</label>
            @TextBox(info, "genxml/textbox/cssclass", "class='w3-input w3-border' autocomplete='off'", "", false, 0)
        </div>
        <div class='w3-quarter w3-padding'>
            <label>@ResourceKey("DNNrocket.hiderow")</label><br />
            @CheckBox(info, "genxml/checkbox/hiderow", "", "class='w3-check' ", false, false, 0)
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var sectionName = localStorage.getItem('sectiontabs');
        if ((typeof sectionName === 'undefined') || sectionName === '' || sectionName === null) {
            sectionName = "heading";
        }
        openSection(sectionName);
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');
    });

    function openSection(sectionName) {
        $('.sectionname').hide();
        $('.tablink').removeClass("w3-border-black");
        $('.tablink').removeClass("w3-theme-l3");
        $('#' + sectionName).show();
        $('.' + sectionName + 'tablink').addClass("w3-border-black");
        $('.' + sectionName + 'tablink').addClass("w3-theme-l3");
        localStorage.setItem('sectiontabs', sectionName);

        // so the hidden one gets adjusted
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');
    }
</script>