@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->

<div class="@(moduleData.GetSetting("cssclass"))">

    <div class="svgblockswrapper">

        [INJECT:appthemesystem,ArticleHeaderView.cshtml]

        <div class="svgblocks">
            @foreach (var articleRowData in articleData.GetRows())
            {
                rowData = articleRowData.Info;
                var hideRow = rowData.GetXmlPropertyBool("genxml/checkbox/hiderow");
                if (!hideRow)
                {
                    var linkData = articleRowData.Getlink(0);
                    var cssClassRow = rowData.GetXmlProperty("genxml/textbox/cssclass");

                    if (linkData.IsDisabled)
                    {
                        <div class="svgblock @(cssClassRow)">
                            <div class="svgblockicon">@HtmlOf(rowData, "genxml/textbox/svgcode")</div>
                            <h3>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</h3>
                            <p>@BreakOf(rowData, "genxml/lang/genxml/textbox/resume")</p>
                        </div>
                    }
                    else
                    {
                        <a class="svgblock @(cssClassRow)" href="@(linkData.Url)" target="@(linkData.Target)">
                            <div class="svgblockicon">@HtmlOf(rowData, "genxml/textbox/svgcode")</div>
                            <h3>@rowData.GetXmlProperty("genxml/lang/genxml/textbox/title")</h3>
                            <p>@BreakOf(rowData, "genxml/lang/genxml/textbox/resume")</p>
                        </a>                        
                    }
                }
            }
        </div>
    </div>

</div>
