@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
    var eventList = (List<ArticleLimpet>)Model.GetDataObject("eventnextlist");
    var width = moduleData.GetSettingInt("width");
    var height = moduleData.GetSettingInt("height");
    var alignment = moduleData.GetSetting("pos");
    var paddingClass = moduleData.GetSetting("padding");
    var backgroundcolor = moduleData.GetSetting("backgroundcolor");
}

<div class="containerouter @backgroundcolor @(moduleData.GetSetting("cssclass"))" style="padding-right:8px;padding-left:8px;padding-top:@(moduleData.GetSetting("toppadding"))px;padding-bottom:@(moduleData.GetSetting("bottompadding"))px;">
    <div class="w3-section eventsarticlelist containerinner">

    @foreach (ArticleLimpet article in eventList)
    {
        // Do not list the article if we are looking at it. (Prevents bug with procesing overlay not closing)
        if (article.ArticleId != sessionParams.GetInt("eventid"))
        {
                
            var articleImage = article.GetImage(0);
            var eventDate = article.Info.GetXmlPropertyDate("genxml/textbox/eventstartdate");

            if (articleImage.RelPath != "")
            {
                if (moduleData.GetSettingInt("satlayout") == 0)
                {
                    <div class="w3-row @alignment eventlistdetail">
                            <a href="@DetailUrl(moduleData.DetailPageTabId(), article, categoryData)#rocketeventsdisplay" class="@paddingClass" title="@article.Name" onclick="$('.simplisity_loader').show();">
                            <img class="w3-image @(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                        </a>
                        <p class="@moduleData.GetSetting("titlesize") @paddingClass">
                            <span>@article.Name</span><br />
                            <span class="w3-opacity">@DateOf(eventDate, sessionParams.CultureCode, "dd MMM yyy")</span>
                        </p>
                    </div>
                }
                if (moduleData.GetSettingInt("satlayout") == 1)
                {
                    <div class="w3-col s12 m3 l2 @alignment w3-padding-small eventlistdetail">
                            <a href="@DetailUrl(moduleData.DetailPageTabId(), article, categoryData)#rocketeventsdisplay" class="@paddingClass" title="@article.Name" onclick="$('.simplisity_loader').show();">
                            <img class="w3-image @(moduleData.GetSetting("opacity")) " src="@ImageUrl(articleImage.RelPath, moduleData.GetSettingInt("width"), moduleData.GetSettingInt("height"))" />
                        </a>
                        <p class="@moduleData.GetSetting("titlesize") @paddingClass">
                            <span>@article.Name</span><br />
                            <span class="w3-opacity">@DateOf(eventDate, sessionParams.CultureCode, "dd MMM yyy")</span>
                        </p>
                    </div>
                }
            }
        }
    }

    </div>
</div>
