@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
    var eventList = (List<ArticleLimpet>)Model.GetDataObject("eventnextlist");
}

<div class="w3-container eventsarticlelist">

    @foreach (ArticleLimpet articleData in eventList)
    {
        var eventDate = articleData.Info.GetXmlPropertyDate("genxml/textbox/eventstartdate");
        var date = articleData.Info.GetXmlPropertyDate("genxml/textbox/eventstartdate");
        var dateFormat = date.ToLongDateString();

        <div class="w3-card-4 w3-margin w3-white" style="overflow:hidden;">
            <img src="@ImageUrl(articleData.GetImage(0).RelPathWebp,640,200)" alt="@articleData.GetImage(0).Alt"  style="width:100%"/>
            <div class="w3-container">
                <h3><b>@articleData.Name</b></h3>
                <h5><span class="w3-opacity">@DateOf(articleData.Info, "genxml/textbox/eventstartdate", sessionParams.CultureCode, "dd MMM yyy")</span></h5>
            </div>

            <div class="w3-container">
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            @{
                                var detailUrlParams = listUrlParams.Concat(new string[] { "eventdate", eventDate.ToString("yyyy-MM-dd") }).ToArray();
                            }
                            <a href="@DetailUrl(moduleData.DetailPageTabId(), article, detailUrlParams)" class="w3-button w3-padding-large w3-white w3-border" title="@articleData.Name" onclick="$('#simplisity_loader').show();">
                                <b>@ResourceKey("RocketEventsApi.readmore")&nbsp;&gt;&nbsp;</b>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
    }

</div>
