@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using System.Globalization;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->

@{
    var monthDate = DateTime.Now;
    if (sessionParams.Get("year") != "" && sessionParams.Get("month") != "" && sessionParams.Get("day") != "")
    {
        monthDate = new DateTime(sessionParams.GetInt("year"), sessionParams.GetInt("month"), sessionParams.GetInt("day"));
    }
    var articleList = articleDataList.GetArticlesInDay(monthDate, "eventstartdate");
}
<h1>@monthDate.ToString("D", new CultureInfo(sessionParams.CultureCode))</h1>
<table class="w3-table w3-bordered w3-margin-bottom w3-border-top">
    @foreach (ArticleLimpet articleData in articleList)
    {
        <tr>
            <td style="width:54px;">
                @if (articleData.IsHidden)
                {
                    <span class="material-icons">
                        hide_source
                    </span>
                }
            </td>
            <td style="width:54px;">
                <img src="@ImageUrl(articleData.GetImage(0).RelPath, 48, 48)" style="height:48px;width:48px;" class="w3-round" />
            </td>
            <td>
                <div class="w3-tiny">@articleData.Ref</div>
                <b>@articleData.Name</b>
                <div>
                    @Succinct(articleData.Summary, 70)
                </div>
            </td>
            <td>
                <a href="@DetailUrl(moduleData.DetailPageTabId(), articleData, categoryData)" class="w3-button w3-right w3-padding-large w3-white w3-border" title="@articleData.Name" onclick="$('#simplisity_loader').show();">
                    <b>@ResourceKey("Events.readmore")&nbsp;&gt;&nbsp;</b>
                </a>
            </td>
        </tr>
    }
</table>




