@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RocketEventsAPI.Components;
@using System.Globalization;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->

@{
    var firstModay = DateTime.MinValue.Date;
    var monthDays = DateTime.DaysInMonth(monthStartDate.Year, monthStartDate.Month);
    var eventList = (List<ArticleLimpet>)Model.GetDataObject("eventmonthlist");
    var articleDay = (Dictionary<int, List<ArticleLimpet>>)Model.GetDataObject("eventlistbyday");
    var firstDayOfWeek = (int)new DateTime(monthStartDate.Year, monthStartDate.Month, 1).DayOfWeek;
    var f = new DateTime(monthStartDate.Year, monthStartDate.Month, 1).ToLongDateString();
}
<div id="calmonth@(moduleData.ModuleId)">

    <div class="month">
        <ul class="monthheader">
            <li class="w3-button w3-left" onclick="getMonthCalendar('@monthStartDate.AddMonths(-1).ToString("O")');">&#10094;</li>
            <li class="w3-button w3-right" onclick="getMonthCalendar('@monthStartDate.AddMonths(1).ToString("O")');">&#10095;</li>
            <li>@monthStartDate.ToString("MMMM")<br><span style="font-size:12px">@DateTime.Now.ToString("yyyy")</span></li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>@firstModay.ToString("ddd")</li>
        <li>@firstModay.AddDays(1).ToString("ddd")</li>
        <li>@firstModay.AddDays(2).ToString("ddd")</li>
        <li>@firstModay.AddDays(3).ToString("ddd")</li>
        <li>@firstModay.AddDays(4).ToString("ddd")</li>
        <li>@firstModay.AddDays(5).ToString("ddd")</li>
        <li>@firstModay.AddDays(6).ToString("ddd")</li>
    </ul>

    <ul class="days">
        @{
            int startDays = 1;
            int day = 1;
        } 
        @while (startDays < firstDayOfWeek)
        {
            <li></li>
            startDays += 1;
        }

        @while (day <= monthDays) 
        {
            if (articleDay.ContainsKey(day))
            {
                <li onclick="getMonthCalendarDetail('@day');" style="cursor:pointer;" class="activeday"><span>@day</span></li>
            }
            else
            {
                <li>@day</li>
            }
            day++;
        }
    </ul>
</div>

<div id="calmonthdetailmodel@(moduleData.ModuleId)" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="width:40%;">

        <header class="" style="height: 38.5px;">
            <span onclick="$('#calmonthdetailmodel@(moduleData.ModuleId)').hide();" class="w3-button w3-display-topright">&times;</span>
        </header>
        <div class="w3-margin-top" style="">
            <div id="calmonthdetailcontainer@(moduleData.ModuleId)" class="w3-container">
                [INJECT:apptheme,CalendarEventList.cshtml]
            </div>
        </div>
    </div>
</div>

