@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->

@{
    var firstModay = DateTime.MinValue.Date;
    var monthDate = DateTime.Now;
    if (sessionParams.GetDate("monthdate") > DateTime.MinValue)
    {
        monthDate = sessionParams.GetDate("monthdate");
    }
    var monthDays = DateTime.DaysInMonth(monthDate.Year, monthDate.Month);
    var articleList = articleDataList.GetArticlesInMonth(monthDate, "eventstartdate");
    var articleDay = new Dictionary<int, List<ArticleLimpet>>();
    foreach (var a in articleList)
    {
        var d = a.Info.GetXmlPropertyDate("genxml/textbox/eventstartdate").Day;
        if (articleDay.ContainsKey(d))
        {
            var l = articleDay[d];
            l.Add(a);
            articleDay.Remove(d);
            articleDay.Add(d, l);
        }
        else
        {
            var l = new List<ArticleLimpet>();
            l.Add(a);
            articleDay.Add(d, l);
        }

    }
    var firstDayOfWeek = (int)new DateTime(monthDate.Year, monthDate.Month, 1).DayOfWeek;
    var f = new DateTime(monthDate.Year, monthDate.Month, 1).ToLongDateString();
}
<div id="calmonth@(moduleData.ModuleId)">
    <div class="month">
        <ul class="monthheader">
            <li class="w3-button w3-left" onclick="getMonthCalendar('@monthDate.AddMonths(-1).ToString("O")');">&#10094;</li>
            <li class="w3-button w3-right" onclick="getMonthCalendar('@monthDate.AddMonths(1).ToString("O")');">&#10095;</li>
            <li>@monthDate.ToString("MMMM")<br><span style="font-size:12px">@DateTime.Now.ToString("yyyy")</span></li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>@firstModay.ToString("ddd")</li>
        <li>@firstModay.AddDays(1).ToString("ddd")</li>
        <li>@firstModay.AddDays(2).ToString("ddd")</li>
        <li>@firstModay.AddDays(3).ToString("ddd")</li>
        <li>@firstModay.AddDays(4).ToString("ddd")</li>
        <li>@firstModay.AddDays(5).ToString("ddd")</li>
        <li>@firstModay.AddDays(6).ToString("ddd")</li>
    </ul>

    <ul class="days">
        @{
            int startDays = 1;
            int day = 1;
        } 
        @while (startDays < firstDayOfWeek)
        {
            <li></li>
            startDays += 1;
        }

        @while (day <= monthDays) 
        {
            if (articleDay.ContainsKey(day))
            {
                <li onclick="getMonthCalendarDetail('@monthDate.Year', '@monthDate.Month', '@day');" style="cursor:pointer;"><span class="active">@day</span></li>
            }
            else
            {
                <li>@day</li>
            }
            day++;
        }
    </ul>
</div>

