@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
<div id="calmonthwrapper@(moduleData.ModuleId)">
    [INJECT:apptheme,CalendarDisplay.cshtml]
</div>

<div id="calmonthdetailmodel@(moduleData.ModuleId)" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="width:40%;">

        <header class="" style="height: 38.5px;">
            <span onclick="$('#calmonthdetailmodel@(moduleData.ModuleId)').hide();" class="w3-button w3-display-topright">&times;</span>
        </header>
        <div class="w3-margin-top" style="">
            <div id="calmonthdetailcontainer@(moduleData.ModuleId)" class="w3-container">
                
            </div>
        </div>
    </div>
</div>



<script>
    function getMonthCalendar(monthDate) { 
        $('#calmonth@(moduleData.ModuleId)').css({ 'opacity': 0.5 });
        $('#calmonthwrapper@(moduleData.ModuleId)').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'remote_publiclist', '{"disablecache":"true","moduleref":"@(moduleData.ModuleRef)","moduleid":"@(moduleData.ModuleId)","cmdtype":"satellite","basesystemkey":"rocketdirectoryapi","systemkey":"rocketeventsapi","template":"CalendarDisplay.cshtml","monthdate":"' + monthDate + '"}', '')
    }
    function getMonthCalendarDetail(y,m,d) {
        $('#calmonth@(moduleData.ModuleId)').css({ 'opacity': 0.5 });
        $('#calmonthdetailcontainer@(moduleData.ModuleId)').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'remote_publiclist', '{"disablecache":"true","moduleref":"@(moduleData.ModuleRef)","moduleid":"@(moduleData.ModuleId)","cmdtype":"satellite","basesystemkey":"rocketdirectoryapi","systemkey":"rocketeventsapi","template":"CalendarEventList.cshtml","year":"' + y + '","month":"' + m + '","day":"' + d + '"}', 'showcalmonthdetailmodel@(moduleData.ModuleId)')
    }
    function showcalmonthdetailmodel@(moduleData.ModuleId)() {
        $('#calmonthdetailmodel@(moduleData.ModuleId)').show();
        $('#calmonth@(moduleData.ModuleId)').css({ 'opacity': 1 });
    }
</script>

