@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RocketEventsAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->

@{
    var firstModay = DateTime.MinValue.Date;
    var monthDays = DateTime.DaysInMonth(monthStartDate.Year, monthStartDate.Month);
    var eventListData = (EventListData)Model.GetDataObject("eventlistdata");
    var articleList = eventListData.GetEventsInMonth(monthStartDate.Year, monthStartDate.Month);
    var articleDay = eventListData.GetEventsDayListInMonth(monthStartDate.Year, monthStartDate.Month);
    var firstDayOfWeek = (int)new DateTime(monthStartDate.Year, monthStartDate.Month, 1).DayOfWeek;
    var f = new DateTime(monthStartDate.Year, monthStartDate.Month, 1).ToLongDateString();
}
<div id="calmonth@(moduleData.ModuleId)">
    <div class="month">
        <ul class="monthheader">
            <li class="w3-left"><a style="color: inherit;text-decoration:none;" href="@ListUrl(moduleData.ListPageTabId(), new string[]{ "month", monthStartDate.AddMonths(-1).Month.ToString(), "year" , monthStartDate.AddMonths(-1).Year.ToString()})" class="w3-button">&#10094;</a></li>
            <li class="w3-right"><a style="color: inherit;text-decoration:none;" href="@ListUrl(moduleData.ListPageTabId(), new string[]{ "month", monthStartDate.AddMonths(1).Month.ToString(), "year" , monthStartDate.AddMonths(1).Year.ToString()})" class="w3-button">&#10095;</a></li>
            <li>@monthStartDate.ToString("MMMM")<br><span style="font-size:12px">@DateTime.Now.ToString("yyyy")</span></li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>@firstModay.ToString("ddd")</li>
        <li>@firstModay.AddDays(1).ToString("ddd")</li>
        <li>@firstModay.AddDays(2).ToString("ddd")</li>
        <li>@firstModay.AddDays(3).ToString("ddd")</li>
        <li>@firstModay.AddDays(4).ToString("ddd")</li>
        <li>@firstModay.AddDays(5).ToString("ddd")</li>
        <li>@firstModay.AddDays(6).ToString("ddd")</li>
    </ul>

    <ul class="days">
        @{
            int startDays = 1;
            int day = 1;
        } 
        @while (startDays < firstDayOfWeek)
        {
            <li></li>
            startDays += 1;
        }

        @while (day <= monthDays) 
        {
            if (articleDay.ContainsKey(day))
            {
                <li onclick="getMonthCalendarDetail('@day');" style="cursor:pointer;" class="activeday"><span>@day</span></li>
            }
            else
            {
                <li>@day</li>
            }
            day++;
        }
    </ul>
</div>

