@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")
<!--inject-->
@{
    var eventDate = article.Info.GetXmlPropertyDate("genxml/textbox/eventstartdate");
}
@if (!String.IsNullOrEmpty(article.Name))
{
    <p class="@moduleData.GetSetting("titlesize") @paddingClass">
        <span>@article.Name</span><br/>
        <span class="w3-opacity">@DateOf(eventDate, sessionParams.CultureCode, "dd MMM yyy")</span>
    </p>
}
@if (!String.IsNullOrEmpty(article.Summary))
{
    <p class="@moduleData.GetSetting("textsize") @paddingClass">
        @BreakOf(article.Summary)
    </p>
}

<div class="w3-row @paddingClass">
    <a href="@DetailUrl(moduleData.DetailPageTabId(), article, categoryData)#rocketeventsdisplay" onclick="$('.simplisity_loader').show();" class="w3-button w3-theme-action w3-border w3-round aboutlink" title="@article.Name">
        <b>@ResourceKey("Events.readmore")&nbsp;&gt;&nbsp;</b>
    </a>
</div>
