@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
    var eventList = (Dictionary<DateTime, List<ArticleLimpet>>)Model.GetDataObject("eventlistbymonth");
}

<div class="rocket-eventmonths w3-padding w3-margin-top ">

    <a href="@ListUrl(moduleData.ListPageTabId())" class="w3-button w3-block w3-left-align rocket-monthdates rocket-monthdates0 w3-theme-l3" onclick="$('.simplisity_loader').show();setSelected('0');">
        <span class="w3-text-black">
            @ResourceKey("RocketEventsAPI.latest")
        </span>
    </a>


    @{
        var monthidx = 1;
    }
    @foreach (var a in eventList.Reverse())
    {
        if (a.Value.Count > 0)
        {
            <a href="@ListUrl(moduleData.ListPageTabId(), new string[] {"month", a.Key.Month.ToString(),"year", a.Key.Year.ToString() })" class="w3-button w3-block w3-left-align rocket-monthdates rocket-monthdates@(monthidx) " monthidx="@(monthidx)" onclick="setSelected($(this).attr('monthidx'));">
                <span>
                    @a.Key.ToString("MMMM yyyy")
                </span>
                <span class="w3-right">     
                    @a.Value.Count
                </span>
            </a>
        }
        monthidx += 1;
    }

</div>

<script>
    $(document).ready(function () {
        var monthidx = simplisity_getSessionField('monthidx');
        if (monthidx != '' && simplisity_getSessionField('viewsearchtext') == '') {
            $('.rocket-monthdates').removeClass('w3-theme-l3');
            $('.rocket-monthdates' + monthidx).addClass('w3-theme-l3');
        }
    });
    function setSelected(monthidx, month, year) {
        $('.simplisity_loader').show();
        simplisity_setSessionField('monthidx', monthidx);
    }
</script>
