@inherits RocketEventsAPI.Components.RocketEventsAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using RocketEventsAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@{
    var eventList = (Dictionary<DateTime, List<ArticleLimpet>>)Model.GetDataObject("eventlistbymonth");
}

<div class=" w3-margin-top ">

    @{
        var monthidx = 1;
    }
    @foreach (var a in eventList)
    {
        if (a.Value.Count > 0)
        {
            <a href="@ListUrl(moduleData.ListPageTabId(), new string[] {"month", a.Key.Month.ToString(),"year", a.Key.Year.ToString() })" class="w3-button w3-block w3-left-align rocket-monthdates rocket-monthdates@(monthidx) " monthidx="@(monthidx)" onclick="setSelected($(this).attr('monthidx'));">
                <span>
                    @a.Key.ToString("MMMM yyyy")
                </span>
                <span class="w3-right">     
                    @a.Value.Count
                </span>
            </a>
        }
        monthidx += 1;
    }

</div>

<script>
    function setSelected(monthidx, month, year) {
        $('.rocket-monthdates').removeClass('w3-grey');
        $('.rocket-monthdates' + monthidx).addClass('w3-grey');
        simplisity_setSessionField('monthidx', monthidx);
    }
</script>
